<div class="govuk-notification-banner" role="region" aria-labelledby="rate-limiting-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <p class="govuk-notification-banner__title" id="rate-limiting-banner-title">Important</p>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">From September 2026, rate limiting will apply to the Commodities API to protect service reliability.</p>
    <p class="govuk-body">No action needed today. More guidance to follow</p>
  </div>
</div>
