openapi: 3.1.0

servers:
  - url: https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes

security:
- ApiKeyAuth: []

info:
  version: "2"
  title: Windsor Framework Categorisation API
  description: |
    <% content_for :head do %>
      <link href="/green-lanes.xml" type="application/atom+xml" rel="alternate" title="Windsor Framework Categorisation API changes feed" />
    <% end %>

    The Windsor Framework Categorisation API's provide access to Category Assessment data for the different Commodities and Subheadings within the Tariff.

    These APIs follow the [JSON-API](https://jsonapi.org/) format for both request and response, in common with the other OTT APIs documented on this site.

    We recommend using a suitable JSON-API client library for your application platform to consume these APIs - possible [JSON-API client libraries](https://jsonapi.org/implementations/#client-libraries)

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        <br /><br />
        The APIs are subject to change and this document will be updated as the API development evolves.
        <br /><br />
        An RSS feed is available for notification of changes - see below.
      </strong>
    </div>

    ## Sample client

    There's a very simple html page client as an example of parsing these APIs in Javascript

    [View sample client](/categorisation-sample-client.html) &nbsp; | &nbsp;
    <a download="categorisation-sample-client.html" href="/categorisation-sample-client.html">
      Download
    </a>

    ## Latest changes

    _These changes can be subscribed to at the [Atom (RSS) feed](/green-lanes.xml)_

    <% changes = data.green_lanes_changes.sort_by(&:date).reverse %>
    <% latest = changes.shift %>

    ### <%= latest.date.strftime('%-d %B %Y') %>

    <%= latest.content %>

    <% unless changes.length == 0 %>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Previous changes
        </span>
      </summary>
      <div class="govuk-details__text">
        <% changes.each do |change| %>
          <h3 id="change-<%= change.date.strftime('%Y-%m-%d') %>" class="anchored-heading">
            <%= change.date.strftime '%d %b %Y' %>
          </h3>

          <%= convert_markdown change.content %>
        <% end %>
      </div>
    </details>
    <% end %>

    ## Terms and Conditions

      By using this API you agree to the [Terms and Conditions for use of the Windsor Framework Categorisation API](/categorisation-terms-and-conditions.html)

    ## Instructions for requesting an API Key

    <div class="govuk-details__text">
        <h3>Prepare Your Details:</h3>
        <p>Before sending the email, ensure you have the following information:</p>
        <ul class="govuk-list--bullet">
            <li>Your company’s name</li>
            <li>Your EORI (Economic Operators Registration and Identification) number</li>
            <li>A valid contact email address</li>
            <li>Confirmation of your UKIMS (UK Integrated Tariff System) authorisation status</li>
        </ul>
    </div>

    <div class="govuk-details__text">
        <h3>Fill in the Template:</h3>
        <p>Replace the placeholder text in the template with your actual information:</p>
        <ul class="govuk-list--bullet">
            <li>Insert your company name where it says <strong>[Your Company Name]</strong></li>
            <li>Provide your EORI number where it says <strong>[Your EORI Number]</strong></li>
            <li>Use your contact email in place of <strong>[Your Contact Email]</strong></li>
            <li>Confirm your UKIMS authorisation where indicated.</li>
        </ul>
    </div>

    <div class="govuk-details__text">
        <h3>Send the Email:</h3>
        <p>Send the completed email to <a href="mailto:hmrc-trade-tariff-support-g@digital.hmrc.gov.uk">hmrc-trade-tariff-support-g@digital.hmrc.gov.uk</a>.</p>
    </div>

    <div class="govuk-details__text">
      <h3>E-mail template:</h3>
    </div>

    <div class="govuk-details__text">
      <pre class="email-template">
    <strong>Subject:</strong> Request for API Key - [Your Company Name]

    Dear HMRC Trade Tariff Support Team,

    I hope this message finds you well. I am writing to request an API key to access the HMRC Trade Tariff Categorisation API.

    Please find our details below:

    <strong>Company Name:</strong> [Your Company Name]
    <strong>EORI Number:</strong> [Your EORI Number]
    <strong>Contact Email:</strong> [Your Contact Email]
    <strong>UKIMS Authorisation:</strong> [Please confirm your UKIMS authorisation status, e.g., “We confirm that our company is authorised under the UKIMS system.“]

    Kind regards,
    [Your Full Name]
    [Your Position]
      </pre>
    </div>



paths:
  /green_lanes/category_assessments:
    get:
      summary: Returns a list of all category assessments
      description: >
        Returns a list of the all category assessments
      tags:
        - Categorisation
      parameters:
        - name: as_of
          in: query
          required: false
          description: |
            Returns the category assessments across all commodities as they existed on the `as_of` date. Use the format `YYYY-MM-DD`

            While `as_of` is not a required field it is advised to include it with all requests even
            if requesting data for today to ensure the data returned is correct.
          schema:
            type: string
            format: date
      responses:
        200:
          description: An array of CategoryAssessments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryAssessmentListing"
        401:
          description: Authorization header is missing or contains an invalid token
        422:
          description: Likely incorrectly formatted `as_of` param
        5xx:
          description: Unexpected error, something went wrong internally
      x-code-samples:
        /api/v2/green_lanes/category_assessments:
          lang: shell
          source: |-
            curl -X GET -H "X-Api-Key: a1b2c3defg4567" https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/category_assessments
            curl -X GET -H "X-Api-Key: a1b2c3defg4567" https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/category_assessments?as_of=2024-01-01

  /green_lanes/goods_nomenclatures/{id}:
    get:
      summary: Returns Category Assessments for the requested Goods Nomenclature
      description: >
        Returns the requested Goods Nomenclature together with relevant data including a list of the different Category Assessments applicable to this Goods Nomenclature<br>
        <br>
        Each applicable Category Assessment will provide a primary category together with any potential exemptions. If at least one of the exemptions for that Category Assessment are met then that Category Assessment does not apply.<br>
        <br>
        The effective category for the GoodsNomenclature is the most restrictive category from those Category Assessments determined by the API consumers filtering to be applicable (ie not exempted).<br>
        <br>
        If no Category Assessments are applicable, or all if applicable Category Assessments are exempted, then the trade falls under a default category assessment of Category 3.
      tags:
        - Categorisation
      parameters:
        - name: id
          in: path
          required: true
          description: |
            Item Id of the Goods Nomenclature you are requesting Category Assessments information for.

            This is the full 10 digit item ID of either a Subheading or Commodity. Valid input IDs can be provided in 4, 6, 8, or 10 significant digits, depending on the level of detail available in the XI Tariff. If your input ID is shorter than 10 digits (e.g., 4, 6, or 8 digits), it will be automatically padded with trailing zeros to reach the full 10-digit format. For example, an ID of 1234 would be processed as 1234000000.
          schema:
            type: string
            minimum: 10
            maximum: 10
            example: "392113"
        - name: as_of
          in: query
          required: false
          description: |
            Returns tariff data as it applies on the `as_of` date

            While this is not a required field it is advised to include it with all requests even
            if requesting data for today to ensure the data returned is correct. As caching is used
            on the API this will ensure the data returned is as expected.
          schema:
            type: string
            format: date
        - name: filter[geographical_area_id]
          in: query
          required: false
          description: |
            A geographical area code you wish to use to filter the
            Category Assessment information
          schema:
            type: string
            minimum: 2
            example: "US"
      responses:
        200:
          description: A GoodsNomenclature and a list of Category Assessments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoodsNomenclature"
        401:
          description: Authorization header is missing or contains an invalid token
        404:
          description: Unknown goods nomenclature item id
        422:
          description: Likely to be missing or incorrect params
        5xx:
          description: Unexpected error, something went wrong internally
      x-code-samples:
        /api/v2/goods_nomenclatures/0712909000:
          lang: shell
          source: |-
            curl -X GET -H "X-Api-Key: a1b2c3defg4567" https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/goods_nomenclatures/0712909000
            curl -X GET -H "X-Api-Key: a1b2c3defg4567" https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/goods_nomenclatures/0712909000?as_of=2024-01-01
            curl -X GET -H "X-Api-Key: a1b2c3defg4567" "https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/goods_nomenclatures/0712909000?filter\[geographical_area_id\]=US"
            curl -X GET -H "X-Api-Key: a1b2c3defg4567" "https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/goods_nomenclatures/0712909000?as_of=2024-01-01&filter\[geographical_area_id\]=US"
  /green_lanes/themes:
    get:
      summary: Returns a list of all themes
      description: >
        Returns a list of the all Categorisation themes within the Windsor Framework
      tags:
        - Categorisation
      responses:
        200:
          description: An array of Themes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Themes"
        401:
          description: Authorization header is missing or contains an invalid token
        5xx:
          description: Unexpected error, something went wrong internally
      x-code-samples:
        /api/v2/green_lanes/themes:
          lang: shell
          source: |-
            curl -X GET -H "X-Api-Key: a1b2c3defg4567" https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/themes

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: |
        Access to these APIs will be restricted. Approved partners requiring access should contact the Online Trade Tariff team.

        Those eligible traders will be supplied with a secret API key which should be included in the `X-Api-Key` header of every request, e.g.:

        ```
        X-Api-Key: a1b2c3defg4567
        ```

  schemas:
    GoodsNomenclature:
      description: |
        A goods_nomenclature object

        <% graphviz 'goods-nomenclature' %>
      type: object
      properties:
        id:
          type: string
          description: The unique id for this revision of this Goods Nomenclature
        goods_nomenclature_item_id:
          type: string
          description: The `goods_nomenclature_item_id` of this Goods Nomenclature
        parent_sid:
          type: string
          description: The goods_nomenclature_sid of the Goods Nomenclature this GoodsNomenclature sits directly below in the Tariff
          nullable: true
        description:
          type: string
          description: The `description` of the goods nomenclature
        number_indents:
          type: integer
          description: The indentation of the goods nomenclature within the Tariff hierarchy
        productline_suffix:
          type: string
          description: The `productline_suffix` of the goods nomenclature
        validity_start_date:
          type: string
          description: The date this Goods Nomenclature is valid from
          format: date-time
        validity_end_date:
          type: string
          description: The date this Goods Nomenclature is valid until, null if valid indefinitely
          format: date-time
          nullable: true
        supplementary_measure_unit:
          type: string
          description: The supplementary measure unit applicable to this GoodsNomenclature, if one is applicable
          nullable: true
        applicable_category_assessments:
          type: array
          description: A list of applicable Category Assessments for this Goods Nomenclature
          items:
            $ref: '#/components/schemas/CategoryAssessment'
        descendant_category_assessments:
          type: array
          description: |
            A list of Category Assessments which apply only to some descendants,
            so require further classification to determine their applicability
          items:
            $ref: '#/components/schemas/CategoryAssessment'
        ancestors:
          type: array
          description: |
            List of GoodsNomenclatures above the requested Goods Nomenclature in
            the Tariff, ordered by Chapter first
          items:
            $ref: '#/components/schemas/ReferencedGoodsNomenclature'
        descendants:
          type: array
          description: |
            List of GoodsNomenclatures below the requested one in the Tariff,
            ordered by Goods Nomenclature Item Id
          items:
            $ref: '#/components/schemas/ReferencedGoodsNomenclature'
        licences:
          type: array
          description: List of licences applicable to this GoodsNomenclature
          items:
            $ref: '#/components/schemas/Certificate'
      required:
        - id
        - goods_nomenclature_item_id
        - parent_sid
        - description
        - number_indents
        - productline_suffix
        - validity_start_date
        - validity_end_date
      example:
        data:
          id: "106662"
          type: goods_nomenclature
          attributes:
            goods_nomenclature_item_id: "2404120000"
            parent_sid: "106659"
            description: Other, containing nicotine
            number_indents: 2
            productline_suffix: "80"
            validity_start_date: "2022-01-01T00:00:00.000Z"
            validity_end_date: null
            supplementary_measure_unit: 1000 items (1000 p/st)
          relationships:
            applicable_category_assessments:
              data:
                - id: 123456cd
                  type: category_assessment
            descendant_category_assessments:
              data:
                - id: abcd1234
                  type: category_assessment
                - id: c5678def
                  type: category_assessment
            ancestors:
              data:
                - id: "35246"
                  type: goods_nomenclature
                - id: "106659"
                  type: goods_nomenclature
            descendants:
              data:
                - id: "106676"
                  type: goods_nomenclature
                - id: "107156"
                  type: goods_nomenclature
            licences:
              data:
                - id: L100
                  type: certificate
        included:
          - id: 123456cd
            type: category_assessments
            relationships:
              geographical_area:
                data:
                  id: "1011"
                  type: geographical_area
              excluded_geographical_areas:
                data: []
              theme:
                data:
                  id: "1.1"
                  type: theme
              exemptions:
                data:
                  - id: Y069
                    type: certificate
              measures:
                data:
                  - id: "3871194"
                    type: measure
              measure_type:
                data:
                  id: "714"
                  type: measure_type
              regulation:
                data:
                  id: D1908540
                  type: legal_act
          - id: abcd1234
            type: category_assessments
            relationships:
              geographical_area:
                data:
                  id: "1011"
                  type: geographical_area
              excluded_geographical_areas:
                data: []
              theme:
                data:
                  id: "2.1"
                  type: theme
              exemptions:
                data:
                  - id: L135
                    type: certificate
                  - id: "3200"
                    type: additional_code
              measures:
                - data:
                    - id: "3871192"
                      type: measure
                - data:
                    - id: "3871247"
                      type: measure
              measure_type:
                data:
                  id: "475"
                  type: measure_type
              regulation:
                data:
                  id: D1908540
                  type: legal_act
          - id: c5678def
            type: category_assessment
            relationships:
              geographical_area:
                data:
                  id: "1011"
                  type: geographical_area
              excluded_geographical_areas:
                data: []
              theme:
                data:
                  id: "2.1"
                  type: theme
              exemptions:
                - id: "3200"
                  type: additional_code
                - id: "3249"
                  type: additional_code
              measures:
                - data:
                    - id: "3871193"
                      type: measure
                    - id: "3871248"
                      type: measure
              measure_type:
                data:
                  id: "475"
                  type: measure_type
              regulation:
                data:
                  id: D1908540
                  type: legal_act
          - id: "1011"
            type: geographical_area
            attributes:
              description: ERGA OMNES
              geographical_area_id: "1011"
          - id: "1.1"
            type: theme
            attributes:
              theme: Sanctions
              category: 1
          - id: "2.1"
            type: theme
            attributes:
              theme: Drug precursors
              category: 2
          - id: L135
            type: certificate
            attributes:
              certificate_type_code: L
              certificate_code: "135"
              code: L135
              description: Import authorisation (precursors) issued by the competent authorities of the Member State where the importer is established
              formatted_description: Import authorisation (precursors) issued by the competent authorities of the Member State where the importer is established
          - id: "3200"
            type: additional_code
            attributes:
              additional_code_type_id: "3"
              additional_code: "200"
              code: "3200"
              description: "Mixtures of scheduled substances listed in the Annex to Regulation (EC) No 111/2005 that can be used for the illicit manufacture of narcotic drugs or psychotropic substances"
              formatted_description: "Mixtures of scheduled substances listed in the Annex to Regulation (EC) No 111/2005 that can be used for the illicit manufacture of narcotic drugs or psychotropic substances"
          - id: Y069
            type: certificate
            attributes:
              certificate_type_code: Y
              certificate_code: "069"
              code: Y069
              description: Goods not consigned from Iran
              formatted_description: Goods not consigned from Iran
          - id: "3871194"
            type: measure
            attributes:
              goods_nomenclature_item_id: "2404120000"
              goods_nomenclature_sid: "106662"
              effective_start_date: "2022-01-01T00:00:00.000Z"
              effective_end_date: null
          - id: "3871192"
            type: measure
            attributes:
              goods_nomenclature_item_id: "2404120010"
              goods_nomenclature_sid: "106676"
              effective_start_date: "2022-01-01T00:00:00.000Z"
              effective_end_date: null
            relationships:
              footnotes:
                data:
                  - id: CD437
                    type: footnote
          - id: "3871193"
            type: measure
            attributes:
              goods_nomenclature_item_id: "2404120010"
              goods_nomenclature_sid: "106676"
              effective_start_date: "2022-01-01T00:00:00.000Z"
              effective_end_date: null
            relationships:
              footnotes:
                data:
                  - id: TM135
                    type: footnote
          - id: "3871247"
            type: measure
            attributes:
              goods_nomenclature_item_id: "2404120090"
              goods_nomenclature_sid: "107156"
              effective_start_date: "2022-01-01T00:00:00.000Z"
              effective_end_date: null
            relationships:
              footnotes:
                data:
                  - id: CD437
                    type: footnote
                  - id: TM135
                    type: footnote
          - id: "3871248"
            type: measure
            attributes:
              effective_start_date: "2022-01-01T00:00:00.000Z"
              effective_end_date: null
            relationships:
              footnotes:
                data:
                  - id: TM135
                    type: footnote
          - id: "35246"
            type: goods_nomenclature
            attributes:
              goods_nomenclature_item_id: "2400000000"
              parent_sid: null
              description: Tobacco and manufactured tobacco substitutes; products, whether or not containing nicotine, intended for inhalation without combustion; other nicotine containing products intended for the intake of nicotine into the human body
              number_indents: 0
              productline_suffix: "80"
              validity_start_date: "1971-12-31T00:00:00.000Z"
              validity_end_date: null
              supplementary_measure_unit: null
            relationships:
              licences:
                data: []
          - id: "106659"
            type: goods_nomenclature
            attributes:
              goods_nomenclature_item_id: "2404000000"
              parent_sid: 35246
              description: Products containing tobacco, reconstituted tobacco, nicotine, or tobacco or nicotine substitutes, intended for inhalation without combustion; other nicotine containing products intended for the intake of nicotine into the human body
              number_indents: 0
              productline_suffix: "80"
              validity_start_date: "2022-01-01T00:00:00.000Z"
              validity_end_date: null
              supplementary_measure_unit: null
            relationships:
              licences:
                data: []
          - id: "106676"
            type: goods_nomenclature
            attributes:
              goods_nomenclature_item_id: "2404120010"
              parent_sid: 106662
              description: Cartridges and refills, filled, for electronic cigarettes, preparations for use in cartridges and refills for electronic cigarettes
              number_indents: 3
              productline_suffix: "80"
              validity_start_date: "2022-01-01T00:00:00.000Z"
              validity_end_date: null
              supplementary_measure_unit: 1000 items (1000 p/st)
            relationships:
              licences:
                data: []
          - id: "107156"
            type: goods_nomenclature
            attributes:
              goods_nomenclature_item_id: "2404120090"
              parent_sid: 106662
              description: Other
              number_indents: 3
              productline_suffix: "80"
              validity_start_date: "2022-01-01T00:00:00.000Z"
              validity_end_date: null
              supplementary_measure_unit: 1000 items (1000 p/st)
            relationships:
              licences:
                data: []
          - id: "475"
            type: measure_type
            attributes:
              description: "Restriction on entry into free circulation"
              measure_type_series_description: "Entry into free circulation or exportation subject to conditions"
              validity_start_date: "1972-01-01T00:00:00.000Z"
              validity_end_date: null
              measure_type_series_id: "B"
              trade_movement_code: 0
          - id: "714"
            type: measure_type
            attributes:
              description: "Import control"
              measure_type_series_description: "Entry into free circulation or exportation subject to conditions"
              validity_start_date: "2017-02-01 00:00:00.000"
              validity_end_date: null
              measure_type_series_id: "B"
              trade_movement_code: 0
          - id: CD437
            type: footnote
            attributes:
              code: CD437
              description: "\"Import authorization\" and \"Specific import requirements\" - see Articles 20-25 of Regulation (EC) No 111/05 (OJ L 22) implemented by Regulation (EC) No 2015/1011 (OJ L 162)."
          - id: TM135
            type: footnote
            attributes:
              code: TM135
              description: "The surveillance does not apply to mixtures and natural products which contain scheduled substances and which are compounded in such a way that the scheduled substances cannot be easily used or extracted by readily applicable or economically viable means, to medicinal products as defined in point 2 of Article 1 of Directive 2001/83/EC of the European Parliament and of the Council and to veterinary medicinal products as defined in point 2 of Article 1 of Directive 2001/82/EC of the European Parliament and of the Council."
          - id: L100
            type: certificate
            attributes:
              certificate_type_code: L
              certificate_code: "100"
              code: L100
              description: Import licence "controlled substances" (ozone), issued by the Commission
              formatted_description: Import licence "controlled substances" (ozone), issued by the Commission
          - id: D1908540
            type: legal_act
            attributes:
              validity_start_date: "2019-09-20T00:00:00.000Z"
              validity_end_date: null
              officialjournal_number: "L 147"
              officialjournal_page: 1
              published_date: "2019-06-05"
              regulation_code: D0854/19
              regulation_url: "http://eur-lex.europa.eu/search.html?whOJ=NO_OJ%3D147,YEAR_OJ%3D2019,PAGE_FIRST%3D0001&DB_COLL_OJ=oj-l&type=advanced&lang=en"
              description: null


    CategoryAssessment:
      description: |
        A CategoryAssessment for the requested GoodsNomenclature

        <% graphviz 'category-assessment' %>
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for this category assessement
        category:
          type: integer
          enum: [ 1, 2, 3 ]
          description: The category applicable unless exemption criteria are met
        theme:
          description: The Categorisation Theme used as the basis for this Category Assessment
          $ref: '#/components/scheme/Theme'
        measure_type:
          description: The Measure Type resulting in this Category Assessment
          $ref: '#/components/scheme/MeasureType'
        regulation:
          description: The Regulation resulting in this Category Assessment
          $ref: '#/components/scheme/LegalAct'
        geographical_area:
          description: The geographical area this Category Assessment applies to
          $ref: '#/components/scheme/GeographicalArea'
        excluded_geographical_areas:
          type: array
          description: The geographical areas excluded from this Category Assessment
          items:
            $ref: '#/components/scheme/GeographicalArea'
        exemptions:
          type: array
          description: |
            The Certificates or Additional Codes which when supplied exempt a Goods Nomenclature from this Category Assessment
            <br><br>
            _NB: Polymorphic array of *Certificate*, *AdditionalCode* and *Exemption* objects_
          items:
            oneOf:
              - $ref: '#/components/scheme/Certificate'
              - $ref: '#/components/scheme/AdditionalCode'
              - $ref: '#/components/scheme/Exemption'
        measures:
          type: array
          description: |
            A list of Measures resulting in this CategoryAssessment
            <br><br>
            _NB: Not present on `/green_lanes/category_assessments` endpoint due to volume of data_
          items:
            $ref: '#/components/schemas/Measure'
      required:
        - id
        - category
        - theme
        - geographical_area
        - measure_type
        - regulation
      example:
        data:
          id: abcd1234
          type: category_assessment
          relationships:
            geographical_area:
              data:
                id: "1011"
                type: geographical_area
            excluded_geographical_areas:
              data: []
            theme:
              data:
                id: "2.1"
                type: theme
            exemptions:
              data:
                - id: L135
                  type: certificate
                - id: "3200"
                  type: additional_code
                - id: WFE001
                  type: exemption
            measure_type:
              data:
                id: "475"
                type: measure_type
            regulation:
              data:
                id: D1908540
                type: legal_act
        included:
          - id: "1011"
            type: geographical_area
            attributes:
              description: ERGA OMNES
              geographical_area_id: "1011"
          - id: "2.1"
            type: theme
            attributes:
              theme: Drug precursors
              category: 2
          - id: L135
            type: certificate
            attributes:
              certificate_type_code: L
              certificate_code: "135"
              code: L135
              description: Import authorisation (precursors) issued by the competent authorities of the Member State where the importer is established
              formatted_description: Import authorisation (precursors) issued by the competent authorities of the Member State where the importer is established
          - id: "3200"
            type: additional_code
            attributes:
              additional_code_type_id: "3"
              additional_code: "200"
              code: "3200"
              description: "Mixtures of scheduled substances listed in the Annex to Regulation (EC) No 111/2005 that can be used for the illicit manufacture of narcotic drugs or psychotropic substances"
              formatted_description: "Mixtures of scheduled substances listed in the Annex to Regulation (EC) No 111/2005 that can be used for the illicit manufacture of narcotic drugs or psychotropic substances"
          - id: WFE001
            type: exemption
            attributes:
              code: WFE001
              description: Seed potatoes of a particular variety
              formatted_description: Seed potatoes of a particular variety
          - id: "475"
            type: measure_type
            attributes:
              description: "Restriction on entry into free circulation"
              measure_type_series_description: "Entry into free circulation or exportation subject to conditions"
              validity_start_date: "1972-01-01T00:00:00.000Z"
              validity_end_date: null
              measure_type_series_id: "B"
              trade_movement_code: 0
          - id: D1908540
            type: legal_act
            attributes:
              validity_start_date: "2019-09-20T00:00:00.000Z"
              validity_end_date: null
              officialjournal_number: "L 147"
              officialjournal_page: 1
              published_date: "2019-06-05"
              regulation_code: D0854/19
              regulation_url: "http://eur-lex.europa.eu/search.html?whOJ=NO_OJ%3D147,YEAR_OJ%3D2019,PAGE_FIRST%3D0001&DB_COLL_OJ=oj-l&type=advanced&lang=en"
              description: null

    Theme:
      description: A Categorisation Theme within the Windsor Framework
      type: object
      properties:
        id:
          type: string
          description: The relevant section number for this Categorisation theme
        theme:
          type: string
          description: Categorisation Theme
        category:
          type: integer
          minimum: 1
          maximum: 3
          description: The category for the theme in the absence of an exemption
      required:
        - id
        - theme
        - category
      example:
        data:
          id: "1.1"
          type: theme
          attributes:
            theme: Sanctions
            category: 1

    GeographicalArea:
      description: A GeographicalArea object
      type: object
      properties:
        id:
          type: string
          description: The id of this geographical area
        description:
          type: string
          description: The `description` of the geographical area
        geographical_area_id:
          type: string
          description: The `geographical_area_id` of the geographical area
      required:
        - id
        - description
        - geographical_area_id
      example:
        data:
          id: "1011"
          type: geographical_area
          attributes:
            description: ERGA OMNES
            geographical_area_id: "1011"

    Certificate:
      description: A Certificate object
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for this description
        certificate_type_code:
          type: string
          description: The `certificate_type_code` for the certificate
        certificate_code:
          type: string
          description: The `certificate_code` for the certificate
        code:
          type: string
          description: The code identifying the Certificate - combination of `certificate_type_code` and `certficate_code`
        description:
          type: string
          description: The `description` for the certificate
        formatted_description:
          type: string
          description: A version of the description including html formatting tags
      required:
        - id
        - certificate_type_code
        - certificate_code
        - code
        - description
        - formatted_description
      example:
        data:
          id: D005
          type: certificate
          attributes:
            certificate_type_code: D
            certificate_code: "005"
            code: D005
            description: Commercial invoice within the framework of undertakings
            formatted_description: Commercial invoice within the framework of undertakings

    AdditionalCode:
      description: An AdditionalCode object
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for this additional_code object
        additional_code_type_id:
          type: string
          description: The `additional_code_type_id` for the additional_code
        additional_code:
          type: string
          description: The `additional_code` for the additional_code
        code:
          type: string
          description: The `code` for the additional_code. Equal to `additional_code_type_id + additional_code`
        description:
          type: string
          description: The `description` for the additional_code
        formatted_description:
          type: string
          description: The `formatted_description` for the additional_code
      required:
        - id
        - additional_code_type_id
        - additional_code
        - code
        - description
        - formatted_description
      example:
        data:
          id: "3200"
          type: additional_code
          attributes:
            additional_code_type_id: "3"
            additional_code: "200"
            code: "3200"
            description: "Mixtures of scheduled substances listed in the Annex to Regulation (EC) No 111/2005 that can be used for the illicit manufacture of narcotic drugs or psychotropic substances"
            formatted_description: "Mixtures of scheduled substances listed in the Annex to Regulation (EC) No 111/2005 that can be used for the illicit manufacture of narcotic drugs or psychotropic substances"

    Exemption:
      description: A non-tariff Exemption which exempts the CategoryAssessment when the Exemption is applicable
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for this description
        code:
          type: string
          description: The `code` identifying the Exemption
        description:
          type: string
          description: The `description` for the Exemption
        formatted_description:
          type: string
          description: A version of the description potentially including html formatting tags
      required:
        - id
        - code
        - description
        - formatted_description
      example:
        data:
          id: WFE001
          type: exemption
          attributes:
            code: WFE001
            description: Seed potatoes of a particular variety
            formatted_description: Seed potatoes of a particular variety

    Measure:
      type: object
      description: |
        A Measure object which generates this Category Assessment.
      properties:
        id:
          type: string
          description: The unique identifier for this measure
        goods_nomenclature_item_id:
          type: string
          description: |
            The item id of the GoodsNomenclature this Measure is against.
        goods_nomenclature_sid:
          type: string
          description: The item id of the GoodsNomenclature this Measure is against
        effective_start_date:
          type: string
          description: The effective start date of the measure.
          format: date-time
        effective_end_date:
          type: string
          description: The effective end date of the measure.
          format: date-time
          nullable: true
        footnotes:
          type: array
          description: The footnotes for this measure
          items:
            $ref: '#/components/scheme/Footnote'
      required:
        - id
        - goods_nomenclature_item_id
        - goods_nomenclature_sid
        - effective_start_date
        - effective_end_date
      example:
        data:
          id: "3871192"
          type: measure
          attributes:
            goods_nomenclature_item_id: "2404120010"
            goods_nomenclature_sid: "106676"
            effective_start_date: "2022-01-01T00:00:00.000Z"
            effective_end_date: null
          relationships:
            measure_type:
              data:
                id: "475"
                type: measure_type
            footnotes:
              data:
                - id: CD437
                  type: footnote

    MeasureType:
      description: A referenced MeasureType object
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for this measure
        description:
          type: string
          description: The description for the measure type
        measure_type_series_description:
          type: string
          description: The description of the measure type series
        validity_start_date:
          type: string
          description: The validity start date of the measure type
          format: date-time
        validity_end_date:
          type: string
          description: The validity end date of the measure type
          format: date-time
          nullable: true
        measure_type_series_id:
          type: string
          description: A single char representing measure type series.
          format: byte
        trade_movement_code:
          type: integer
          description: The code of trade movement.
      example:
        data:
          id: "475"
          type: measure_type
          attributes:
            description: "Restriction on entry into free circulation"
            measure_type_series_description: "Entry into free circulation or exportation subject to conditions"
            validity_start_date: "1972-01-01T00:00:00.000Z"
            validity_end_date: null
            measure_type_series_id: "B"
            trade_movement_code: 0

    LegalAct:
      description: The Regulations which the Category Assessment is derived from.
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for this legal act
        validity_start_date:
          type: string
          description: The validity start date of this legal act
          format: date-time
        validity_end_date:
          type: string
          description: The validity end date of this legal act
          format: date-time
          nullable: true
        officialjournal_number:
          type: string
          description: The journal describing this legal act
        officialjournal_page:
          type: integer
          description: The page within the journal describing this legal act
        published_date:
          type: string
          description: The date this legal was published
          format: date
        regulation_code:
          type: string
          description: Formatted code identifying this legal act
        regulation_url:
          type: string
          description: URL descripting this legal act
          format: uri
        description:
          type: string
          description: A description of this legal act
      example:
        data:
          id: D1908540
          type: legal_act
          attributes:
            validity_start_date: "2019-09-20T00:00:00.000Z"
            validity_end_date: null
            officialjournal_number: "L 147"
            officialjournal_page: 1
            published_date: "2019-06-05"
            regulation_code: D0854/19
            regulation_url: "http://eur-lex.europa.eu/search.html?whOJ=NO_OJ%3D147,YEAR_OJ%3D2019,PAGE_FIRST%3D0001&DB_COLL_OJ=oj-l&type=advanced&lang=en"
            description: null

    Footnote:
      description: A referenced Footnote object
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the footnote
        code:
          type: string
          description: The `code` for the footnote
        description:
          type: string
          description: The `description` for the footnote
      example:
        data:
          id: CD437
          type: footnote
          attributes:
            code: CD437
            description: "\"Import authorization\" and \"Specific import requirements\" - see Articles 20-25 of Regulation (EC) No 111/05 (OJ L 22) implemented by Regulation (EC) No 2015/1011 (OJ L 162)."

    ReferencedGoodsNomenclature:
      description: A GoodsNomenclature referenced from either Ancestors or Descendants lists
      type: object
      properties:
        id:
          type: string
          description: The unique id for this revision of this Goods Nomenclature
        goods_nomenclature_item_id:
          type: string
          description: The `goods_nomenclature_item_id` of this Goods Nomenclature
        parent_sid:
          type: string
          description: The goods_nomenclature_sid of the Goods Nomenclature this GoodsNomenclature sits directly below in the Tariff
          nullable: true
        description:
          type: string
          description: The `description` of the goods nomenclature
        number_indents:
          type: integer
          description: The indentation of the goods nomenclature within the Tariff hierarchy
        productline_suffix:
          type: string
          description: The `productline_suffix` of the goods nomenclature
        validity_start_date:
          type: string
          description: The date this Goods Nomenclature is valid from
          format: date-time
        validity_end_date:
          type: string
          description: The date this Goods Nomenclature is valid until, null if valid indefinitely
          format: date-time
          nullable: true
        supplementary_measure_unit:
          type: string
          description: The supplementary measure unit applicable to this GoodsNomenclature, if one is applicable
          nullable: true
        licences:
          type: array
          description: List of licences applicable to this GoodsNomenclature
          items:
            $ref: '#/components/schemas/Certificate'
      required:
        - id
        - goods_nomenclature_item_id
        - goods_nomenclatur_sid
        - parent_sid
        - description
        - number_indents
        - productline_suffix
        - validity_start_date
        - validity_end_date
      example:
        data:
          id: "106659"
          type: goods_nomenclature
          attributes:
            goods_nomenclature_item_id: "2404000000"
            parent_sid: "30240"
            description: Products containing tobacco, reconstituted tobacco, nicotine, or tobacco or nicotine substitutes, intended for inhalation without combustion; other nicotine containing products intended for the intake of nicotine into the human body
            number_indents: 0
            productline_suffix: "80"
            validity_start_date: "2022-01-01T00:00:00.000Z"
            validity_end_date: null
            supplementary_measure_unit: 1000 items (1000 p/st)
          relationships:
            licences:
              data:
                - id: L100
                  type: certificate

    CategoryAssessmentListing:
      description: Listing of all category assessments
      properties:
        data:
          type: array
          description: An individual CategoryAssessment
          items:
            $ref: '#/components/scheme/CategoryAssessment'
      example:
        data:
          - id: abcd1234
            type: category_assessment
            relationships:
              geographical_area:
                data:
                  id: "1011"
                  type: geographical_area
              excluded_geographical_areas:
                data: []
              theme:
                data:
                  id: "2.1"
                  type: theme
              exemptions:
                data:
                  - id: L135
                    type: certificate
                  - id: "3200"
                    type: additional_code
                  - id: WFE001
                    type: exemption
              measure_type:
                data:
                  id: "475"
                  type: measure_type
              regulation:
                data:
                  id: D1908540
                  type: legal_act
        included:
          - id: "1011"
            type: geographical_area
            attributes:
              description: ERGA OMNES
              geographical_area_id: "1011"
          - id: "2.1"
            type: theme
            attributes:
              theme: Drug precursors
              category: 2
          - id: L135
            type: certificate
            attributes:
              certificate_type_code: L
              certificate_code: "135"
              code: L135
              description: Import authorisation (precursors) issued by the competent authorities of the Member State where the importer is established
              formatted_description: Import authorisation (precursors) issued by the competent authorities of the Member State where the importer is established
          - id: "3200"
            type: additional_code
            attributes:
              additional_code_type_id: "3"
              additional_code: "200"
              code: "3200"
              description: "Mixtures of scheduled substances listed in the Annex to Regulation (EC) No 111/2005 that can be used for the illicit manufacture of narcotic drugs or psychotropic substances"
              formatted_description: "Mixtures of scheduled substances listed in the Annex to Regulation (EC) No 111/2005 that can be used for the illicit manufacture of narcotic drugs or psychotropic substances"
          - id: WFE001
            type: exemption
            attributes:
              code: WFE001
              description: Seed potatoes of a particular variety
              formatted_description: Seed potatoes of a particular variety
          - id: "475"
            type: measure_type
            attributes:
              description: "Restriction on entry into free circulation"
              measure_type_series_description: "Entry into free circulation or exportation subject to conditions"
              validity_start_date: "1972-01-01T00:00:00.000Z"
              validity_end_date: null
              measure_type_series_id: "B"
              trade_movement_code: 0
          - id: D1908540
            type: legal_act
            attributes:
              validity_start_date: "2019-09-20T00:00:00.000Z"
              validity_end_date: null
              officialjournal_number: "L 147"
              officialjournal_page: 1
              published_date: "2019-06-05"
              regulation_code: D0854/19
              regulation_url: "http://eur-lex.europa.eu/search.html?whOJ=NO_OJ%3D147,YEAR_OJ%3D2019,PAGE_FIRST%3D0001&DB_COLL_OJ=oj-l&type=advanced&lang=en"
              description: null
