openapi: 3.1.0

servers:
  - url: https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes

security:
- bearerAuth: []

info:
  version: "2"
  title: Windsor Framework Green Lanes Categorisation API
  description: |
    <% content_for :head do %>
      <link href="/green-lanes.xml" type="application/atom+xml" rel="alternate" title="Green Lanes api changes feed" />
    <% end %>

    The Green Lanes Categorisation API's provide access to Category Assessment data for the different Commodities and Subheadings within the Tariff.

    These APIs follow the [JSON-API](https://jsonapi.org/) format for both request and response, in common with the other OTT APIs documented on this site.

    We recommend using a suitable JSON-API client library for your application platform to consume these APIs - possible [JSON-API client libraries](https://jsonapi.org/implementations/#client-libraries)

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        DRAFT: These APIs are currently in development and not yet available.
        <br /><br />
        The APIs are subject to change and this document will be updated as the API development evolves.
        <br /><br />
        An RSS feed is available for notification of changes - see below.
      </strong>
    </div>

    ## Authentication

    Access to these APIs will be restricted initially whilst they are in development. Approved partners requiring access should contact the Online Trade Tariff team.

    The token should be included with the API request via the standard HTTP Authorization header, eg.

    ```
    Authorization: Token <SUPPLIED TOKEN>
    ```

    ## Latest changes

    _These changes can be subscribed to at the [Atom (RSS) feed](/green-lanes.xml)_

    <% changes = data.green_lanes_changes.sort_by(&:date).reverse %>
    <% latest = changes.shift %>

    ### <%= latest.date.strftime('%-d %B %Y') %>
    <%= simple_format latest.content %>

    <% unless changes.length == 0 %>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Previous changes
        </span>
      </summary>
      <div class="govuk-details__text">
        <% changes.each do |change| %>
          <h3 id="change-<%= change.date.strftime('%Y-%m-%d') %>" class="anchored-heading">
            <%= change.date.strftime '%d %b %Y' %>
          </h3>

          <%= simple_format change.content %>
        <% end %>
      </div>
    </details>
    <% end %>

paths:
  /green_lanes/category_assessments:
    get:
      summary: Returns a list of all category assessments
      description: >
        Returns a list of the all category assessments
      tags:
        - Green Lanes
      parameters:
        - name: as_of
          in: query
          required: false
          description: |
            Returns the category assessments across all commodities as they existed on the `as_of` date. Use the format `YYYY-MM-DD`

            While `as_of` is not a required field it is advised to include it with all requests even
            if requesting data for today to ensure the data returned is correct.
          schema:
            type: string
            format: date
      responses:
        200:
          description: An array of CategoryAssessments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CategoryAssessmentListing"
        401:
          description: Authorization header is missing or contains an invalid token
        422:
          description: Likely incorrectly formatted `as_of` param
        5xx:
          description: Unexpected error, something went wrong internally
      x-code-samples:
        /api/v2/green_lanes/category_assessments:
          lang: shell
          source: |-
            curl -X GET -H "Authorization: Token TOKEN123" https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/category_assessments
            curl -X GET -H "Authorization: Token TOKEN123" https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/category_assessments?as_of=2024-01-01

  /green_lanes/goods_nomenclatures/{id}:
    get:
      summary: Returns Category Assessments for the requested Goods Nomenclature
      description: >
        Returns the requested Goods Nomenclature together with relevant data including a list of the different Category Assessments for the Goods Nomenclature
      tags:
        - Green Lanes
      parameters:
        - name: id
          in: path
          required: true
          description: |
            Item Id of the Goods Nomenclature you are requesting Category Assessments information for.

            This is the full 10 digit item id of either a Subheading or Commodity. If you are working with truncated item ids, ie truncated to 6 or 8 significant digits, then pad to 10 with trailing zero's - so 123456 would submitted as 1234560000.
          schema:
            type: string
            minimum: 10
            maximum: 10
            example: "392113"
        - name: as_of
          in: query
          required: false
          description: |
            Returns tariff data as it applies on the `as_of` date

            While this is not a required field it is advised to include it with all requests even
            if requesting data for today to ensure the data returned is correct. As caching is used
            on the API this will ensure the data returned is as expected.
          schema:
            type: string
            format: date
        - name: filter[geographical_area_id]
          in: query
          required: false
          description: |
            A geographical area code you wish to use to filter the
            Category Assessment information
          schema:
            type: string
            minimum: 2
            example: "US"
      responses:
        200:
          description: A GoodsNomenclature and a list of Category Assessments
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoodsNomenclature"
        401:
          description: Authorization header is missing or contains an invalid token
        404:
          description: Unknown goods nomenclature item id
        422:
          description: Likely to be missing or incorrect params
        5xx:
          description: Unexpected error, something went wrong internally
      x-code-samples:
        /api/v2/goods_nomenclatures/0712909000:
          lang: shell
          source: |-
            curl -X GET -H "Authorization: Token TOKEN123" https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/goods_nomenclatures/0712909000
            curl -X GET -H "Authorization: Token TOKEN123" https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/goods_nomenclatures/0712909000?as_of=2024-01-01
            curl -X GET -H "Authorization: Token TOKEN123" https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/goods_nomenclatures/0712909000?origin=US
            curl -X GET -H "Authorization: Token TOKEN123" https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/goods_nomenclatures/0712909000?as_of=2024-01-01&origin=US

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer

  schemas:
    GoodsNomenclature:
      description: A goods_nomenclature object
      type: object
      properties:
        id:
          type: string
          description: The unique id for this revision of this Goods Nomenclature
        goods_nomenclature_item_id:
          type: string
          description: The `goods_nomenclature_item_id` of this Goods Nomenclature
        description:
          type: string
          description: The `description` of the goods nomenclature
        number_indents:
          type: integer
          description: The indentation of the goods nomenclature within the Tariff hierarchy
        productline_suffix:
          type: string
          description: The `productline_suffix` of the goods nomenclature
        validity_start_date:
          type: string
          description: The date this Goods Nomenclature is valid from
          format: date-time
        validity_end_date:
          type: string
          description: The date this Goods Nomenclature is valid until, null if valid indefinitely
          format: date-time
          nullable: true
        applicable_category_assessments:
          type: array
          description: A list of applicable Category Assessments for this Goods Nomenclature
          items:
            $ref: '#/components/schemas/CategoryAssessment'
      required:
        - id
        - goods_nomenclature_item_id
        - description
        - number_indents
        - productline_suffix
        - validity_start_date
        - validity_end_date
      example:
        data:
          id: "70361"
          type: goods_nomenclature
          attributes:
            goods_nomenclature_item_id: "0702000007"
            description: Cherry tomatoes
            number_indents: 1
            productline_suffix: "80"
            validity_start_date: "1999-01-01T00:00:00.000Z"
            validity_end_date: null
          relationships:
            applicable_category_assessments:
              data:
                - id: abcd1234
                  type: category_assessment
                - id: c5678def
                  type: category_assessment
        included:
          - id: abcd1234
            type: category_assessments
            attributes:
              category: 1
            relationships:
              geographical_area:
                data:
                  id: "1011"
                  type: geographical_area
              excluded_geographical_areas:
                data: []
              theme:
                data:
                  id: 1.1
                  type: theme
              exemptions:
                data:
                  - id: D005
                    type: certificate
                  - id: C371
                    type: additional_code
          - id: c5678def
            type: category_assessment
            attributes:
              category: 1
            relationships:
              geographical_area:
                data:
                  id: "1011"
                  type: geographical_area
              excluded_geographical_areas:
                data: []
              theme:
                data:
                  id: 1.1
                  type: theme
              exemptions: []
              measures:
                data:
                  - id: "20098001"
                    type: measure
          - id: "1011"
            type: geographical_area
            attributes:
              description: ERGA OMNES
              geographical_area_id: "1011"
          - id: 1.1
            type: theme
            attributes:
              theme: Sanctions
              description: 1.1. Restrictive measures in force based on Article 215 Treaty on the Functioning of the European Union, insofar as they relate to trade in goods between the Union and third countries;
              implied_category: 1
          - id: D005
            type: certificate
            attributes:
              certificate_type_code: D
              certificate_code: "005"
              description: "Commercial invoice within the framework of undertakings"
          - id: C371
            type: additional_code
            attributes:
              additional_code_type_id: C
              additional_code: "371"
              code: C371
              description: "Shanghai Huayi Group Corp. Ltd Double Coin Group (Jiang Su) Tyre Co., Ltd"
              formatted_description: "Shanghai Huayi Group Corp. Ltd Double Coin Group (Jiang Su) Tyre Co., Ltd"
          - id: "20098001"
            type: measure
            attributes:
              effective_start_date: "2021-01-01T00:00:00.000Z"
              effective_end_date: null
            relationships:
              goods_nomenclature:
              data:
                id: "30256"
                type: goods_nomenclature
              measure_type:
                data:
                  id: "410"
                  type: measure_type
              footnotes:
                data:
                  - id: CD624
                    type: footnote
          - id: "30256"
            type: goods_nomenclature
            attributes:
              goods_nomenclature_item_id: "0702000000"
              description: Tomatoes, fresh or chilled
              number_indents: 0
              productline_suffix: "80"
              validity_start_date: "1999-01-01T00:00:00.000Z"
              validity_end_date: null
          - id: "110"
            type: measure_type
            attributes:
              description: "Supplementary unit import"
              measure_type_series_description: "Supplementary unit"
              validity_start_date: "1972-01-01T00:00:00.000Z"
              validity_end_date: null
              measure_type_series_id: "O"
              trade_movement_code: 0
          - id: TN701
            type: footnote
            attributes:
              code: TN701
              description: "According to  the Council Regulation (EU) No 692/2014
                (OJ L183, p. 9) it shall be prohibited to import into European Union
                goods originating in Crimea or Sevastopol.\n..."

    CategoryAssessment:
      description: A CategoryAssessment for the requested GoodsNomenclature
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for this category assessement
        category:
          type: integer
          enum: [ 1, 2, 3 ]
          description: The category applicable unless exemption criteria are met
        theme:
          description: The Green Lanes Theme used as the basis for this possible Category Assessment
          $ref: '#/components/scheme/Theme'
        geographical_area:
          description: The geographical area this Category Assessment applies to
          $ref: '#/components/scheme/GeographicalArea'
        excluded_geographical_areas:
          type: array
          description: The geographical areas excluded from this Category Assessment
          items:
            $ref: '#/components/scheme/GeographicalArea'
        exemptions:
          type: array
          description: |
            The Certificates or Additional Codes which when supplied exempt a Goods Nomenclature from this Category Assessment<br>
            <br>
            _NB - Polymorphic array of Certificate and Additional Code objects_
          items:
            oneOf:
              - $ref: '#/components/scheme/Certificate'
              - $ref: '#/components/scheme/AdditionalCode'
        measures:
          type: array
          description: A list of Measures resulting in this CategoryAssessment
          items:
            $ref: '#/components/schemas/Measure'
      required:
        - id
        - category
        - theme
        - geographical_area
      example:
        data:
          id: abcd1234
          type: category_assessment
          attributes:
            category: 1
          relationships:
            geographical_area:
              data:
                id: "1011"
                type: geographical_area
            excluded_geographical_areas:
              data: []
            theme:
              data:
                id: 1.1
                type: theme
            exemptions:
              data:
                - id: D005
                  type: certificate
                - id: C371
                  type: additional_code
        included:
          - id: "1011"
            type: geographical_area
            attributes:
              description: ERGA OMNES
              geographical_area_id: "1011"
          - id: 1.1
            type: theme
            attributes:
              theme: Sanctions
              description: 1.1. Restrictive measures in force based on Article 215 Treaty on the Functioning of the European Union, insofar as they relate to trade in goods between the Union and third countries;
              implied_category: 1
          - id: D005
            type: certificate
            attributes:
              certificate_type_code: D
              certificate_code: "005"
              description: "Commercial invoice within the framework of undertakings"
          - id: C371
            type: additional_code
            attributes:
              additional_code_type_id: C
              additional_code: "371"
              code: C371
              description: "Shanghai Huayi Group Corp. Ltd Double Coin Group (Jiang Su) Tyre Co., Ltd"
              formatted_description: "Shanghai Huayi Group Corp. Ltd Double Coin Group (Jiang Su) Tyre Co., Ltd"


    Theme:
      description: A Green Lane Theme within the Windsor Framework
      type: object
      properties:
        id:
          type: string
          description: The relevant section number for this Green Lanes theme
        theme:
          type: string
          description: Green Lanes Theme
        description:
          type: string
          description: Full description text of theme
        implied_category:
          type: integer
          minimum: 1
          maximum: 3
          description: The green lanes category for the theme in the absence of an exemption
      required:
        - id
        - theme
        - description
        - implied_category
      example:
        data:
          id: 1.1
          type: theme
          attributes:
            theme: Sanctions
            description: 1.1. Restrictive measures in force based on Article 215 Treaty on the Functioning of the European Union, insofar as they relate to trade in goods between the Union and third countries;
            implied_category: 1
    
    GeographicalArea:
      description: A GeographicalArea object
      type: object
      properties:
        id:
          type: string
          description: The id of this geographical area
        description:
          type: string
          description: The `description` of the geographical area
        geographical_area_id:
          type: string
          description: The `geographical_area_id` of the geographical area
      required:
        - id
        - description
        - geographical_area_id
      example:
        data:
          id: "1011"
          type: geographical_area
          attributes:
            description: ERGA OMNES
            geographical_area_id: "1011"

    Certificate:
      description: A Certificate object
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for this description
        certificate_type_code:
          type: string
          description: The `certificate_type_code` for the certificate
        certificate_code:
          type: string
          description: The `certificate_code` for the certificate
        description:
          type: string
          description: The `description` for the certificate
      required:
        - id
        - certificate_type_code
        - certificate_code
        - description
      example:
        data:
          id: D005
          type: certificate
          attributes:
            certificate_type_code: D
            certificate_code: "005"
            description: "Commercial invoice within the framework of undertakings"

    AdditionalCode:
      description: An AdditionalCode object
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for this additional_code object
        additional_code_type_id:
          type: string
          description: The `additional_code_type_id` for the additional_code
        additional_code:
          type: string
          description: The `additional_code` for the additional_code
        code:
          type: string
          description: The `code` for the additional_code. Equal to `additional_code_type_id + additional_code`
        description:
          type: string
          description: The `description` for the additional_code
        formatted_description:
          type: string
          description: The `formatted_description` for the additional_code
      required:
        - id
        - additional_code_type_id
        - additional_code
        - code
        - description
        - formatted_description
      example:
        data:
          id: C371
          type: additional_code
          attributes:
            additional_code_type_id: C
            additional_code: "371"
            code: C371
            description: "Shanghai Huayi Group Corp. Ltd Double Coin Group (Jiang Su) Tyre Co., Ltd"
            formatted_description: "Shanghai Huayi Group Corp. Ltd Double Coin Group (Jiang Su) Tyre Co., Ltd"

    Measure:
      description: A Measure object which generates this Category Assessment.
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for this measure
        effective_start_date:
          type: string
          description: The effective start date of the measure.
          format: date-time
        effective_end_date:
          type: string
          description: The effective end date of the measure.
          format: date-time
          nullable: true
        measure_type:
          description: The measure type associated with this measure
          $ref: '#/components/scheme/MeasureType'
        footnotes:
          type: array
          description: The footnotes for this measure
          items:
            $ref: '#/components/scheme/Footnote'
        goods_nomenclature:
          description: The goods nomenclature this measure is directly against
          $ref: '#/components/scheme/ReferencedGoodsNomenclature'
      required:
        - id
        - effective_start_date
        - effective_end_date
      example:
        data:
          id: "20098001"
          type: measure
          attributes:
            effective_start_date: "2021-01-01T00:00:00.000Z"
            effective_end_date: null
          relationships:
            goods_nomenclature:
              data:
                id: "30256"
                type: goods_nomenclature
            measure_type:
              data:
                id: "410"
                type: measure_type
            footnotes:
              data:
                - id: CD624
                  type: footnote

    MeasureType:
      description: A referenced MeasureType object
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for this measure
        description:
          type: string
          description: The description for the measure type
        measure_type_series_description:
          type: string
          description: The description of the measure type series
        validity_start_date:
          type: string
          description: The validity start date of the measure type
          format: date-time
        validity_end_date:
          type: string
          description: The validity end date of the measure type
          format: date-time
          nullable: true
        measure_type_series_id:
          type: string
          description: A single char representing measure type series.
          format: byte
        trade_movement_code:
          type: integer
          description: The code of trade movement.
      example:
        data:
          id: "110"
          type: measure_type
          attributes:
            description: "Supplementary unit import"
            measure_type_series_description: "Supplementary unit"
            validity_start_date: "1972-01-01T00:00:00.000Z"
            validity_end_date: null
            measure_type_series_id: "O"
            trade_movement_code: 0

    Footnote:
      description: A referenced Footnote object
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the footnote
        code:
          type: string
          description: The `code` for the footnote
        description:
          type: string
          description: The `description` for the footnote
      example:
        data:
          id: TN701
          type: footnote
          attributes:
            code: TN701
            description: "According to  the Council Regulation (EU) No 692/2014
              (OJ L183, p. 9) it shall be prohibited to import into European Union
              goods originating in Crimea or Sevastopol.\n..."

    ReferencedGoodsNomenclature:
      description: A referenced GoodsNomenclature which a measure is against
      type: object
      properties:
        id:
          type: string
          description: The unique id for this revision of this Goods Nomenclature
        goods_nomenclature_item_id:
          type: string
          description: The `goods_nomenclature_item_id` of this Goods Nomenclature
        description:
          type: string
          description: The `description` of the goods nomenclature
        number_indents:
          type: integer
          description: The indentation of the goods nomenclature within the Tariff hierarchy
        productline_suffix:
          type: string
          description: The `productline_suffix` of the goods nomenclature
        validity_start_date:
          type: string
          description: The date this Goods Nomenclature is valid from
          format: date-time
        validity_end_date:
          type: string
          description: The date this Goods Nomenclature is valid until, null if valid indefinitely
          format: date-time
          nullable: true
      required:
        - id
        - goods_nomenclature_item_id
        - description
        - number_indents
        - productline_suffix
        - validity_start_date
        - validity_end_date
      example:
        data:
          id: "70361"
          type: goods_nomenclature
          attributes:
            goods_nomenclature_item_id: "0702000000"
            description: Tomatoes, fresh or chilled
            number_indents: 0
            productline_suffix: "80"
            validity_start_date: "1999-01-01T00:00:00.000Z"
            validity_end_date: null

    CategoryAssessmentListing:
      description: Listing of all category assessments
      type: array
      properties:
        properties:
        id:
          type: string
          description: The unique identifier for this category assessement
        category:
          type: integer
          enum: [ 1, 2, 3 ]
          description: |
            The category applicable unless exemption criteria are met<br>
            <br>
            Category 1 = Prohibited<br>
            Category 2 = Controlled<br>
            Category 3 = Exempted
        geographical_area:
          description: The geographical area this Category Assessment applies to
          $ref: '#/components/scheme/GeographicalArea'
        excluded_geographical_areas:
          type: array
          description: The geographical areas excluded from this Category Assessment
          items:
            $ref: '#/components/scheme/GeographicalArea'
        exemptions:
          type: array
          description: |
            The Certificates or Additional Codes which when supplied exempt a Goods Nomenclature from this Category Assessment<br>
            <br>
            _NB - Polymorphic array of Certificate and Additional Code objects_
          items:
            oneOf:
              - $ref: '#/components/scheme/Certificate'
              - $ref: '#/components/scheme/AdditionalCode'
      required:
        - id
        - category
        - geographical_area
      example:
        data:
          - id: abcd1234
            type: category_assessment
            attributes:
              category: 1
              theme: 1.1 Sanctions
            relationships:
              geographical_area:
                data:
                  id: "1011"
                  type: geographical_area
              excluded_geographical_areas:
                data: []
              exemptions:
                data:
                  - id: D005
                    type: certificate
                  - id: C371
                    type: additional_code
          - id: abcd1234
            type: category_assessment
            attributes:
              category: 1
              theme: 1.1 Sanctions
            relationships:
              geographical_area:
                data:
                  id: "1011"
                  type: geographical_area
              excluded_geographical_areas:
                data: []
              exemptions:
                data: []
        included:
          - id: "1011"
            type: geographical_area
            attributes:
              description: ERGA OMNES
              geographical_area_id: "1011"
          - id: D005
            type: certificate
            attributes:
              certificate_type_code: D
              certificate_code: "005"
              description: "Commercial invoice within the framework of undertakings"
          - id: C371
            type: additional_code
            attributes:
              additional_code_type_id: C
              additional_code: "371"
              code: C371
              description: "Shanghai Huayi Group Corp. Ltd Double Coin Group (Jiang Su) Tyre Co., Ltd"
              formatted_description: "Shanghai Huayi Group Corp. Ltd Double Coin Group (Jiang Su) Tyre Co., Ltd"
