openapi: 3.1.0

servers:
  - url: https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes

info:
  version: "2"
  title: Windsor Framework Green Lanes Categorisation API
  description: |
    <% content_for :head do %>
      <link href="/green-lanes.xml" type="application/atom+xml" rel="alternate" title="Green Lanes api changes feed" />
    <% end %>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        These APIs are currently considered Experimental and are subject to change or removal
      </strong>
    </div>

    The Green Lanes Categorisation api's provide access to categorisation data for the different Commodities and Subheadings within the Tariff.

    ## Access control

    Access to these APIs will be restricted initially whilst they are in development - if you are an approved partner and require an access token, please contact the Online Trade Tariff team.

    The token should be included with the API request via the standard HTTP Authorization header, eg.

    ```
    Authorization: Bearer <SUPPLIED TOKEN>
    ```

    ## Latest changes

    _These changes can be subscribed to at the [Atom (RSS) feed](/green-lanes.xml)_

    <% changes = data.green_lanes_changes.sort_by(&:date).reverse %>
    <% latest = changes.pop %>

    ### <%= latest.date.strftime('%-d %B %Y') %>
    <%= simple_format latest.content %>

    <% unless changes.length == 0 %>
    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Previous changes
        </span>
      </summary>
      <div class="govuk-details__text">
        <% changes.each do |change| %>
          <h3 id="change-<%= change.date.strftime('%Y-%m-%d') %>" class="anchored-heading">
            <%= change.date.strftime '%d %b %Y' %>
          </h3>

          <%= simple_format change.content %>
        <% end %>
      </div>
    </details>
    <% end %>

paths:
  /green_lanes/categorisations:
    get:
      summary: Returns a list of all permutations and their categorisation
      description: >
        Returns a list of the different permutations and their categorisation
      tags:
        - Green Lanes
      parameters:
        - name: as_of
          in: query
          required: false
          description: |
            Returns the permutations as they existed on the `as_of` date. Use the format `YYYY-MM-DD`

            While this is not a required field it is advised to include it with all requests even
            if requesting data for today to ensure the data returned is correct. As caching is used
            on the API this will ensure the data returned is as expected.
          schema:
            type: string
            format: date
      responses:
        200:
          description: An array of Permutations and their Categorisation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Permutation" # FIXME
        401:
          description: Authorization header is missing or contains an invalid token
        422:
          description: Likely incorrectly formatted `as_of` param
        5xx:
          description: Unexpected error, something went wrong internally
      x-code-samples:
        /api/v2/green_lanes/categorisations:
          lang: shell
          source: |-
            curl -X GET https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/categorisations
            curl -X GET https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/categorisations?as_of=2024-01-01

  /green_lanes/goods_nomenclatures/{id}:
    get:
      summary: Returns possible categorisations for the requested Goods Nomenclature
      description: >
        Returns a list of the different permutations and their categorisation for the Goods Nomenclature Item Id specified in the path
      tags:
        - Green Lanes
      parameters:
        - name: id
          in: path
          required: true
          description: |
            Item Id of the Goods Nomenclature you are requesting categorisation information for.

            This is the full 10 digit item id of either a Subheading or Commodity. If you are working with truncated item ids, ie truncated to 6 or 8 significant digits, then pad to 10 with trailing zero's - so 123456 would submitted as 1234560000.
          schema:
            type: string
            minimum: 10
            maximum: 10
            example: "392113"
        - name: as_of
          in: query
          required: false
          description: |
            Returns the permutations as they existed on the `as_of` date. Use the format `YYYY-MM-DD`

            While this is not a required field it is advised to include it with all requests even
            if requesting data for today to ensure the data returned is correct. As caching is used
            on the API this will ensure the data returned is as expected.
          schema:
            type: string
            format: date
        - name: origin
          in: query
          required: false
          description: |
            Something
          schema:
            type: string
            minimum: 1
            example: "US"
      responses:
        200:
          description: A GoodsNomenclature and a list of possible Categorisations
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoodsNomenclature" # FIXME
        401:
          description: Authorization header is missing or contains an invalid token
        404:
          description: Unknown goods nomenclature item id
        422:
          description: Likely to be missing or incorrect params
        5xx:
          description: Unexpected error, something went wrong internally
      x-code-samples:
        /api/v2/chemical_substances:
          lang: shell
          source: |-
            curl -X GET https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/goods_nomenclatures/0712909000
            curl -X GET https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/goods_nomenclatures/0712909000?as_of=2024-01-01
            curl -X GET https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/goods_nomenclatures/0712909000?origin=US
            curl -X GET https://www.trade-tariff.service.gov.uk/xi/api/v2/green_lanes/goods_nomenclatures/0712909000?as_of=2024-01-01&origin=US

components:
  schemas:
    GoodsNomenclature:
      description: A goods_nomenclature object
      type: object
      properties:
        id:
          type: string
          description: The unique id for this revision of this Goods Nomenclature
        goods_nomenclature_item_id:
          type: string
          description: The `goods_nomenclature_item_id` of this Goods Nomenclature
        description:
          type: string
          description: The `description` of the goods nomenclature
        number_indents:
          type: integer
          description: The indentation of the goods nomenclature within the Tariff hierarchy
        productline_suffix:
          type: string
          description: The `productline_suffix` of the goods nomenclature
        validity_start_date:
          type: string
          description: The date this Goods Nomenclature is valid from
          format: date-time
        validity_end_date:
          type: string
          description: The date this Goods Nomenclature is valid until, null if valid indefinitely
          format: date-time
        applicable_categorisations:
          type: array
          description: A list of potential categorisations for this Goods Nomenclature
          items:
            $ref: '#/components/schemas/Categorisation'
      required:
        - id
        - goods_nomenclature_item_id
        - description
        - number_indents
        - productline_suffix
        - validity_start_date
        - validity_end_date
      example:
        data:
          id: 70361
          type: goods_nomenclature
        attributes:
          goods_nomenclature_item_id: "0702000007"
          description: Cherry tomatoes
          number_indents: 1
          productline_suffix: "80"
          validity_start_date: "1999-01-01T00:00:00.000Z"
          validity_end_date: null
        relationships:
          applicable_categorisations:
            data:
              - id: abc1234
                type: categorisation
              - id: c5678de
                type: categorisation

    Categorisation:
      description: A potential categorisation for a Goods Nomenclature
      type: object
      properties:
        id:
          type: string
          description: The uniq identifier for this categorisation
        category:
          type: integer
          description: The category applicable unless exemption criteria are met
          minimum: 1
          maximum: 3
        theme:
          description: The Green Lanes Theme used as the basis for this potential categorisation
          $ref: '#/components/scheme/Theme'
        geographical_area:
          description: The geographical area this potential categorisation applies to
          $ref: '#/components/scheme/GeographicalArea'
        excluded_geographical_areas:
          type: array
          description: The geographical areas excluded from this potential categorisation
          items:
            $ref: '#/components/scheme/GeographicalArea'
      required:
        - id
        - category
        - theme
        - geographical_area
      example:
        data:
          id: abc1234
          type: categorisation
        attributes:
          category: 2
        relationships:
          geographical_area:
            data:
              id: 1011
              type: geographical_area
          excluded_geographical_areas:
            data: []

    Theme:
      description: A Green Lane Theme within the Windsor Framework
      type: object
      properties:
        id:
          type: string
          description: The relevant section number for this Green Lanes theme
        theme:
          type: string
          description: Green Lanes Theme
        description:
          type: string
          description: Full description text of theme
        implied_category:
          type: integer
          minimum: 1
          maximum: 3
          description: The green lanes category for the theme in the absence of an exemption
      required:
        - id
        - theme
        - description
        - implied_category
      example:
        data:
          id: 1.1
          type: theme
        attributes:
          theme:
          description:
          implied_category:
    
    GeographicalArea:
      description: A geographical_area object
      type: object
      properties:
        id:
          type: string
          description: The id of this geographical area
        description:
          type: string
          description: The `description` of the geographical area
        geographical_area_id:
          type: string
          description: The `geographical_area_id` of the geographical area
      required:
        - id
        - description
        - geographical_area_id
      example:
        data:
          id: 1011
          type: geographical_area
        attributes:
          description: ERGA OMNES
          geographical_area_id: "1011"
