openapi: 3.1.0

info:
  version: "1"
  title: FPO Commodity Code Identification Tool APIs
  description: |
    The <abbr>FPO</abbr> (Fast Parcel Operator) Commodity Code Identification Tool is a tool specifically designed for FPOs registered on the UK Authorised Carrier (UKC) scheme to identify 6-digit <abbr>HS</abbr> (Harmonized System) codes or 8-digit <abbr>CN</abbr> (Combined Nomenclature) codes for goods item descriptions.

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Note that this API is currently in invite-only private beta
        </br>
        </br>
        The APIs are subject to change and this document will be updated as the API development evolves.
      </strong>
    </div>


    This API accepts HTTP requests and responds with [JSON](https://en.wikipedia.org/wiki/JSON) data.

servers:
  - url: https://search.trade-tariff.service.gov.uk

security:
  - ApiKeyAuth: []

paths:
  /fpo-code-search:
    post:
      summary: Identifies potential commodity codes for a goods item description
      description: |
        Carries out a search for potential commodity codes for a single line item within a parcel
      tags:
        - FPO endpoints
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ItemSearchRequest"

      x-code-samples:
        /fpo-code-search:
          lang: shell
          source: |-
            curl -d '{"description": "plastic toothbrush", "digits": 8}' \
              -H "Content-Type: application/json" -H "X-Api-Key: <your-api-key-here>" \
              -X POST https://search.trade-tariff.service.gov.uk/fpo-code-search

      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemSearchResponse"
          headers:
            X-Request-Id:
              type: string
              description: Unique ID for this request
        400:
          description: There was an issue with the request (e.g. invalid JSON)
        403:
          description: Missing API key, or the supplied key was invalid

    get:
      summary: Identifies potential commodity codes for a goods item description
      description: |
        Carries out a search for potential commodity codes for a single line item within a parcel
      tags:
        - FPO endpoints
      parameters:
        - name: q
          in: query
          required: true
          description: The English description of the line item within the parcel
          example: "plastic toothbrush"
          schema:
            type: string
        - name: digits
          in: query
          required: false
          description: The number of commodity code digits the response should return. '6' will return 6-digit HS codes, '8' will return 8-digit CN codes.
          example: 8
          default: 6
          schema:
            type: integer
            enum:
              - 6
              - 8
        - name: limit
          in: query
          required: false
          description: The number of results to return
          default: 5
          schema:
            type: string

      x-code-samples:
        /fpo-code-search:
          lang: shell
          source: |-
            curl -H "Content-Type: application/json" -H "X-Api-Key: <your-api-key-here>" \
              https://search.trade-tariff.service.gov.uk/fpo-code-search?q=plastic+toothbrush&digits=8

      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ItemSearchResponse"
          headers:
            X-Request-Id:
              type: string
              description: Unique ID for this request
        400:
          description: There was an issue with the request (e.g. invalid JSON)
        403:
          description: Missing API key, or the supplied key was invalid
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: |
        Access to these APIs is restricted to only those Fast Parcel Operators (FPOs) who have been invited to test the service.

        Those eligible organisations will be supplied with a secret API key which should be included in the `X-Api-Key` header of every request, e.g.:

        ```
        X-Api-Key: a1b2c3defg4567
        ```

  schemas:
    ItemSearchRequest:
      type: object
      required:
        - description
      properties:
        description:
          type: string
          description: The English description of the line item within the parcel
          example: "plastic toothbrush"
        digits:
          type: integer
          minimum: 6
          maximum: 8
          multipleOf: 2
          default: 6
          description: The number of commodity code digits the response should return. '6' will return 6-digit HS codes, '8' will return 8-digit CN codes.
        limit:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: The maximum number of results to send back

    ItemSearchResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          description: The array of results, up to the specified limit, in order - best match first.
          items:
            $ref: "#/responses/ItemSearchResponseResult"
          minItems: 0
          maxItems: 10
      example:
        results:
          - code: "123456"
            score: 123.45
          - code: "987654"
            score: 98.76

    ItemSearchResponseResult:
      type: object
      required:
        - code
        - score
      properties:
        code:
          type: string
          description: The 6 digit HS code, or 8 digit CN code​ (depending on the 'digits' request parameter)
          example: "123456"
        score:
          type: number
          description: A rating for how well the code matches. A higher number signifies a better match.
          minimum: 0
          maximum: 1000
          example: 123.45

    ErrorResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: The error message summary
        detail:
          type: string
          description: Extra information about the error
