openapi: 3.1.0

info:
  title: FPO Commodity Code Identification Tool API
  description: |
    The <abbr title="Fast Parcel Operator">FPO</abbr> Commodity Code Identification Tool is a tool specifically designed for Fast Parcel Operators (FPOs) registered on the UK Authorised Carrier (UKC) scheme to find a likely commodity code for a given item description.

    > Note that this API is currently in invite-only private beta

    This API accepts HTTP requests and responds with [JSON](https://en.wikipedia.org/wiki/JSON) data.


  version: "1"

servers:
  - url: https://search.trade-tariff.service.gov.uk


security:
- ApiKeyAuth: []

paths:
  /fpo-code-search:
    post:
      summary: Identifies potential commodity codes for a goods item description
      description: |
        Carries out a search for potential commodity codes for a single line item within a parcel

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ItemSearchRequest"

      x-code-samples:
        /fpo-code-search:
          lang: shell
          source: |-
            curl -d '{"description": "plastic toothbrush", "digits": 8}' \
              -H "Content-Type: application/json" -H "X-Api-Key: <your-api-key-here>" \
              -X POST https://search.trade-tariff.service.gov.uk/fpo-code-search

      responses:
        200:
          description: Successful response
          content:
            schema:
              $ref: "#/components/schemas/ItemSearchResponse"
          headers:
            X-Request-Id:
              type: string
              description: Unique ID for this request
        400:
          description: There was an issue with the request (e.g. bad JSON)
          content:
            schema:
              $ref: "#/components/schemas/ErrorResponse"
        401:
          description: You need to supply an API key
          content:
            schema:
              $ref: "#/components/schemas/ErrorResponse"
        403:
          description: Invalid API key supplied
          content:
            schema:
              $ref: "#/components/schemas/ErrorResponse"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: |
          Access to these APIs is restricted to only those Fast Parcel Operators (FPOs) who have been invited to test the service.

          Those eligible organisations will be supplied with a secret API key which should be included in the `X-Api-Key` header of every request, e.g.:

          ```
          X-Api-Key: a1b2c3defg4567
          ```
  
  schemas:
    ItemSearchRequest:
      type: object
      required: 
        - description
      properties:
        description:
          type: string
          description: The English description of the line item within the parcel
          example: "plastic toothbrush"
        digits:
          type: integer
          minimum: 6
          maximum: 8
          multipleOf: 2
          default: 6
          description: The number of commodity code digits the response should return
        limit:
          type: integer
          minimum: 1
          maximum: 10
          default: 5
          description: The maximum number of results to send back

    ItemSearchResponse:
      type: object
      required:
        - results
      properties: 
        results:
          type: array
          description: The array of results, up to the specified limit, in order - best match first.
          items:
            $ref: "#/responses/ItemSearchResponseResult"
          minItems: 0
          maxItems: 10
      example: 
        results:
          - code: "123456"
            score: 123.45
          - code: "987654"
            score: 98.76

    ItemSearchResponseResult:
      type: object
      required:
        - code
        - score
      properties:
        code:
          type: string
          description: The 6 (or 8) digit code​
          example: "123456"
        score:
          type: number
          description: A rating for how well the code matches. A higher number signifies a better match.
          minimum: 0
          maximum: 1000
          example: 123.45

    ErrorResponse:
      type: object
      required:
        - message
      properties:
        message:
          type: string
          description: The error message summary
        detail:
          type: string
          description: Extra information about the error