---
title: Windsor Framework - Green Lanes API documentation
---
<% content_for :head do %>
  <link href="/green-lanes.xml" type="application/atom+xml" rel="alternate" title="Green Lanes api changes feed" />
<% end %>

# Windsor Framework - Green Lanes API documentation

The Green Lanes Categorisation api's provide access to categorisation data for the different Commodities and Subheadings within the Tariff.

## Access control

Access to these APIs will be restricted initially whilst they are in development - if you are an approved partner and require an access token, please contact the Online Trade Tariff team.

The token should be included with the API request via the standard HTTP Authorization header, eg.

```
Authorization: Bearer <SUPPLIED TOKEN>
```

## Provided APIs

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    These APIs are currently considered Experimental and are subject to change or removal
  </strong>
</div>

Two APIs are provided

* A listing of all categorisation data
  - see [All categorisations](/)
* An API to provide possible categorisations for a requested Goods Nomenclature
  - see [Goods Nomenclature categorisations](/)

## Updates to the Green Lanes apis

_These changes can be subscribed to at the [Atom (RSS) feed](/green-lanes.xml)_

<% data.green_lanes_changes.sort_by(&:date).reverse.each do |change| %>
### <%= change.date.strftime('%-d %B %Y') %>
<%= change.content %>
<% end %>
