---
title: Latest News
---
<% content_for :head do %>
  <link href="/feed.xml" type="application/atom+xml" rel="alternate" title="Latest News Atom feed" />
<% end %>

# Latest News

Changes to the Trade Tariff API are listed below.

These changes can be subscribed to at the [Atom (RSS) feed](/feed.xml)

<% data.news.each.with_index do |news_item, index| %>
<%= '---' if index > 0 %>
## <span class="govuk-caption-l"><%= news_item.date.strftime('%-d %B %Y') %></span> <span class="govuk-visually-hidden">-</span> <%= news_item.title %>
<%= news_item.content %>
<% end %>

