openapi: 3.0.1
info:
  title: UK Trade Tariff API
  version: v2
  description: 'GOV.UK Online Trade Tariff API. Provides access to UK Global Tariff
    and

    Northern Ireland (XI) tariff data including commodity codes, duty rates,

    certificates, quotas, and trade restrictions.


    API version is negotiated via the `Accept` header. All V2 requests must

    include `Accept: application/vnd.hmrc.2.0+json`.

    '
  contact:
    name: Trade Tariff Support
    url: https://www.trade-tariff.service.gov.uk
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://www.trade-tariff.service.gov.uk/uk
  description: Production (UK Global Tariff)
- url: https://www.trade-tariff.service.gov.uk/xi
  description: Production (Northern Ireland)
security:
- oauth2_client_credentials:
  - tariff/read
components:
  securitySchemes:
    oauth2_client_credentials:
      type: oauth2
      description: OAuth 2.0 client credentials authentication for Trade Tariff API
        clients.
      flows:
        clientCredentials:
          tokenUrl: https://auth.id.trade-tariff.service.gov.uk/oauth2/token
          scopes:
            tariff/read: Read public Trade Tariff API data.
            tariff/write: Write Trade Tariff API data where an endpoint explicitly
              supports it.
  parameters:
    accept_header:
      name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
        default: application/vnd.hmrc.2.0+json
      description: API version negotiation header. Use `application/vnd.hmrc.2.0+json`
        for V2 JSON responses.
    AsOfDate:
      name: as_of
      in: query
      required: false
      schema:
        type: string
        format: date
        pattern: ^\d{4}-\d{2}-\d{2}$
      description: Return tariff data that was valid on this date, formatted as `YYYY-MM-DD`.
        Defaults to the current date when omitted.
    Include:
      name: include
      in: query
      required: false
      schema:
        type: string
      description: Comma-separated JSON:API relationship paths to include in the response.
        Supported values vary by endpoint.
    Filter:
      name: filter
      in: query
      required: false
      style: deepObject
      explode: true
      schema:
        type: object
        additionalProperties: true
      description: Endpoint-specific filter object using `filter[name]=value` query
        parameters.
    PageNumber:
      name: page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1
      description: Page number for paginated responses. Defaults to `1`.
    PageSize:
      name: per_page
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        default: 20
      description: Number of records to return per page for paginated responses. Defaults
        to `20` when supported by the endpoint.
  schemas:
    StandardErrorResponse:
      oneOf:
      - $ref: '#/components/schemas/JsonApiErrorResponse'
      - $ref: '#/components/schemas/SimpleErrorResponse'
      description: Error response returned by documented V2 endpoint failures.
    SimpleErrorResponse:
      type: object
      description: Error response returned by shared API rescue handlers.
      properties:
        error:
          type: string
          description: Short human-readable error message.
        url:
          type: string
          format: uri
          description: Request URL that produced the error, when supplied by the endpoint.
      required:
      - error
    JsonApiErrorResponse:
      type: object
      description: JSON:API error response returned by V2 endpoints.
      properties:
        errors:
          type: array
          description: One or more errors that explain why the request failed.
          items:
            type: object
            properties:
              status:
                oneOf:
                - type: string
                - type: integer
                description: HTTP status code associated with the error, when supplied
                  by the endpoint.
              title:
                type: string
                description: Short error title or affected attribute, when supplied
                  by the endpoint.
              detail:
                type: string
                description: Human-readable explanation of the error.
              source:
                type: object
                description: Location of the invalid request value, when supplied
                  by the endpoint.
                properties:
                  pointer:
                    type: string
                    description: JSON Pointer to the related request member.
      required:
      - errors
    error_response:
      type: object
      description: Deprecated alias for JSON:API error responses. Use `JsonApiErrorResponse`
        for new endpoint documentation.
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              status:
                oneOf:
                - type: string
                - type: integer
                description: HTTP status code associated with the error, when supplied
                  by the endpoint.
              title:
                type: string
                description: Short error title or affected attribute, when supplied
                  by the endpoint.
              detail:
                type: string
                description: Human-readable explanation of the error.
              source:
                type: object
                description: Location of the invalid request value, when supplied
                  by the endpoint.
                properties:
                  pointer:
                    type: string
                    description: JSON Pointer to the related request member.
      required:
      - errors
paths:
  /api/additional_code_types:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    get:
      summary: List all additional code types
      tags:
      - Additional Codes
      description: Returns all additional code types.
      operationId: listAdditionalCodeTypes
      responses:
        '200':
          description: additional code types listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - additional_code_type
                        attributes:
                          type: object
                          properties:
                            additional_code_type_id:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
  /api/additional_codes/search:
    parameters:
    - $ref: '#/components/parameters/accept_header'
    - name: description
      in: query
      required: false
      schema:
        type: string
      description: Filter by additional code description (partial match)
    - name: type
      in: query
      required: false
      schema:
        type: string
      description: Filter by additional code type ID which will be 1-character. Must
        be passed together with the `code` parameter.
    - name: code
      in: query
      required: false
      schema:
        type: string
      description: Filter by additional code value which will be a 3-character ID
        and may also include letters. Must be passed together with the `type` parameter.
    get:
      summary: Search additional codes
      tags:
      - Additional Codes
      description: Returns additional codes matching the search parameters, including
        related goods nomenclatures.
      operationId: searchAdditionalCodes
      responses:
        '200':
          description: additional codes found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - additional_code
                        attributes:
                          type: object
                          properties:
                            additional_code_type_id:
                              type: string
                              nullable: true
                              description: 1-character additional code type ID. See
                                `GET /api/additional_code_types` for the corresponding
                                description.
                            additional_code:
                              type: string
                              nullable: true
                              description: The 3-character additional code value on
                                its own, without the type ID prefix.
                            code:
                              type: string
                              nullable: true
                              description: 'The full additional code: the 1-character
                                `additional_code_type_id` followed by the 3-character
                                `additional_code`.'
                            description:
                              type: string
                              nullable: true
                            formatted_description:
                              type: string
                              nullable: true
                        relationships:
                          type: object
                          properties:
                            goods_nomenclatures:
                              type: object
                              description: Goods nomenclature records (chapters, headings,
                                commodities, subheadings) associated with this additional
                                code.
                              properties:
                                data:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: string
                                      type:
                                        type: string
                  included:
                    type: array
                    description: Goods nomenclature records included via the `goods_nomenclatures`
                      relationship.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
        '422':
          description: invalid search params description required when type and code
            are blank
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '400':
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/certificate_types:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: Accept header for V2 JSON responses. Use `application/vnd.hmrc.2.0+json`.
    get:
      summary: List all certificate types
      tags:
      - Certificates
      description: List certificate type codes used to group certificate document
        codes.
      operationId: listCertificateTypes
      responses:
        '200':
          description: certificate types listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Certificate type code.
                        type:
                          type: string
                          enum:
                          - certificate_type
                          description: JSON:API resource type.
                        attributes:
                          type: object
                          properties:
                            certificate_type_code:
                              type: string
                              nullable: true
                              description: Single-character certificate type code.
                            description:
                              type: string
                              nullable: true
                              description: Certificate type description.
        '400':
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: unprocessable content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/certificates:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: Accept header for V2 JSON responses. Use `application/vnd.hmrc.2.0+json`.
    get:
      summary: List all certificates
      tags:
      - Certificates
      description: List current certificate document codes, ordered by certificate
        type code and certificate code.
      operationId: listCertificates
      responses:
        '200':
          description: certificates listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      properties:
                        id:
                          type: string
                          description: Combined certificate type and certificate code.
                        type:
                          type: string
                          enum:
                          - certificate
                          description: JSON:API resource type.
                        attributes:
                          type: object
                          properties:
                            certificate_type_code:
                              type: string
                              nullable: true
                              description: Single-character document type code.
                            certificate_code:
                              type: string
                              nullable: true
                              description: Document code within the certificate type.
                            description:
                              type: string
                              nullable: true
                              description: Certificate description.
                            formatted_description:
                              type: string
                              nullable: true
                              description: Certificate description formatted for display.
                            guidance_cds:
                              type: string
                              nullable: true
                              description: CDS guidance text for the certificate,
                                when available.
                            certificate_type_description:
                              type: string
                              nullable: true
                              description: Description of the certificate type, when
                                returned by this endpoint.
                            validity_start_date:
                              type: string
                              nullable: true
                              format: date-time
                              description: Date and time from which this certificate
                                description is valid.
        '400':
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: unprocessable content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/certificates/search:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: Accept header for V2 JSON responses. Use `application/vnd.hmrc.2.0+json`.
    - name: description
      in: query
      required: false
      schema:
        type: string
      description: Partial certificate description to search for. Required when `type`
        and `code` are both omitted.
    - name: type
      in: query
      required: false
      schema:
        type: string
      description: Certificate type code. Must be supplied with `code` when used.
    - name: code
      in: query
      required: false
      schema:
        type: string
      description: Certificate code. Must be supplied with `type` when used.
    get:
      summary: Search certificates
      tags:
      - Certificates
      description: Search certificate document codes by description, or by type and
        code together. Results include matching certificates and can include related
        goods nomenclatures.
      operationId: searchCertificates
      responses:
        '200':
          description: certificates found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      properties:
                        id:
                          type: string
                          description: Combined certificate type and certificate code.
                        type:
                          type: string
                          enum:
                          - certificates
                          description: JSON:API resource type returned by certificate
                            search.
                        attributes:
                          type: object
                          properties:
                            certificate_type_code:
                              type: string
                              nullable: true
                              description: Single-character document type code.
                            certificate_code:
                              type: string
                              nullable: true
                              description: Document code within the certificate type.
                            description:
                              type: string
                              nullable: true
                              description: Certificate description.
                            formatted_description:
                              type: string
                              nullable: true
                              description: Certificate description formatted for display.
                            guidance_cds:
                              type: string
                              nullable: true
                              description: CDS guidance text for the certificate,
                                when available.
                        relationships:
                          type: object
                          properties:
                            goods_nomenclatures:
                              type: object
                              description: Goods nomenclature records linked to matching
                                measures.
        '422':
          description: invalid certificate search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '400':
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/changes:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    get:
      summary: List recent tariff changes
      tags:
      - Changes
      description: Returns recent tariff changes. The data array may be empty if no
        changes exist for the current date.
      operationId: listChanges
      responses:
        '200':
          description: changes listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - change
                        attributes:
                          type: object
                          properties:
                            goods_nomenclature_sid:
                              type: integer
                              nullable: true
                            goods_nomenclature_item_id:
                              type: string
                              nullable: true
                            productline_suffix:
                              type: string
                              nullable: true
                            end_line:
                              type: boolean
                              nullable: true
                            change_type:
                              type: string
                              nullable: true
                            change_date:
                              type: string
                              nullable: true
                              format: date
  /api/changes/{as_of}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: as_of
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{4}-\d{1,2}-\d{1,2}$
      description: 'Date to filter changes by (format: YYYY-M-D, e.g. "2024-1-15")'
    get:
      summary: List tariff changes for a date
      tags:
      - Changes
      description: Returns tariff changes for the specified date. The data array may
        be empty if no changes exist for that date.
      operationId: listChangesAsOf
      responses:
        '200':
          description: changes listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - change
                        attributes:
                          type: object
                          properties:
                            goods_nomenclature_sid:
                              type: integer
                              nullable: true
                            goods_nomenclature_item_id:
                              type: string
                              nullable: true
                            productline_suffix:
                              type: string
                              nullable: true
                            end_line:
                              type: boolean
                              nullable: true
                            change_type:
                              type: string
                              nullable: true
                            change_date:
                              type: string
                              nullable: true
                              format: date
  /api/chapters:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    get:
      summary: List all chapters
      tags:
      - Chapters
      description: Returns all chapters of the tariff.
      operationId: listChapters
      responses:
        '200':
          description: chapters listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - chapter
                        attributes:
                          type: object
                          properties:
                            goods_nomenclature_sid:
                              type: integer
                            goods_nomenclature_item_id:
                              type: string
                            formatted_description:
                              type: string
                              nullable: true
  /api/chapters/{id}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{1,2}$
      description: Chapter short code (1–2 digits, e.g. "01")
    get:
      summary: Retrieve a chapter
      tags:
      - Chapters
      description: Returns a single chapter including its headings, section, and guides.
      operationId: getChapter
      responses:
        '200':
          description: chapter found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - chapter
                      attributes:
                        type: object
                        properties:
                          goods_nomenclature_sid:
                            type: integer
                          goods_nomenclature_item_id:
                            type: string
                          description:
                            type: string
                            nullable: true
                          formatted_description:
                            type: string
                            nullable: true
                          validity_start_date:
                            type: string
                            nullable: true
                            format: date-time
                          validity_end_date:
                            type: string
                            nullable: true
                            format: date-time
                          description_plain:
                            type: string
                            nullable: true
                          chapter_note:
                            type: string
                            nullable: true
                          forum_url:
                            type: string
                            nullable: true
                          section_id:
                            type: integer
                            nullable: true
                      relationships:
                        type: object
                        properties:
                          section:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - section
                          guides:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - guide
                          headings:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - heading
                  included:
                    type: array
                    description: Related section, guide, and heading objects
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
        '404':
          description: chapter not found
  /api/chapters/{id}/changes:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{1,2}$
      description: Chapter short code (1–2 digits, e.g. "01")
    get:
      summary: List changes for a chapter
      tags:
      - Chapters
      description: Returns the changelog for a chapter.
      operationId: listChapterChanges
      responses:
        '200':
          description: chapter changes listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - change
                        attributes:
                          type: object
                          properties:
                            oid:
                              type: integer
                              nullable: true
                            model_name:
                              type: string
                              nullable: true
                            operation:
                              type: string
                              nullable: true
                            operation_date:
                              type: string
                              nullable: true
                              format: date-time
                        relationships:
                          type: object
                          properties:
                            record:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                  included:
                    type: array
                    items:
                      type: object
  /api/chemical_substances:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: filter[cas_rn]
      in: query
      required: false
      schema:
        type: string
      description: Filter by CAS Registry Number
    - name: filter[cus]
      in: query
      required: false
      schema:
        type: string
      description: Filter by CUS (Customs Union and Statistics) number
    - name: filter[goods_nomenclature_sid]
      in: query
      required: false
      schema:
        type: integer
      description: Filter by goods nomenclature SID
    - name: filter[goods_nomenclature_item_id]
      in: query
      required: false
      schema:
        type: string
      description: Filter by goods nomenclature item ID (commodity code)
    get:
      summary: List chemical substances
      tags:
      - Chemicals
      description: Returns chemical substances, optionally filtered by CAS number,
        CUS, or goods nomenclature.
      operationId: listChemicalSubstances
      responses:
        '200':
          description: chemical substances listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - chemical_substance
                        attributes:
                          type: object
                          properties:
                            cas_rn:
                              type: string
                              nullable: true
                            cus:
                              type: string
                              nullable: true
                            goods_nomenclature_item_id:
                              type: string
                              nullable: true
                            name:
                              type: string
                              nullable: true
  /api/chemicals:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    get:
      summary: List all chemicals
      tags:
      - Chemicals
      description: Returns all chemicals with their CAS numbers and names.
      operationId: listChemicals
      responses:
        '200':
          description: chemicals listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - chemical
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              nullable: true
                            cas:
                              type: string
                              nullable: true
                            name:
                              type: string
                              nullable: true
  /api/chemicals/search:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: name
      in: query
      required: false
      schema:
        type: string
      description: Search by chemical name
    - name: cas
      in: query
      required: false
      schema:
        type: string
      description: Search by CAS number
    - name: page
      in: query
      required: false
      schema:
        type: integer
      description: Page number
    - name: per_page
      in: query
      required: false
      schema:
        type: integer
      description: Results per page
    get:
      summary: Search chemicals
      tags:
      - Chemicals
      description: Returns chemicals matching the search query.
      operationId: searchChemicals
      responses:
        '200':
          description: chemicals found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - chemical
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              nullable: true
                            cas:
                              type: string
                              nullable: true
                            name:
                              type: string
                              nullable: true
  /api/commodities/{id}:
    parameters:
    - $ref: '#/components/parameters/accept_header'
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{10}$
      description: Declarable commodity code, exactly 10 digits with no spaces or
        punctuation.
    - name: filter[geographical_area_id]
      in: query
      required: false
      schema:
        type: string
      description: Optional country or geographical area code used to remove import
        and export measures that are not relevant to that area.
    - name: filter[meursing_additional_code_id]
      in: query
      required: false
      schema:
        type: string
      description: Optional Meursing additional code used when resolving duty components
        for goods that require Meursing calculations.
    get:
      summary: Retrieve a commodity
      tags:
      - Commodities
      description: 'Use this endpoint when you already have a 10-digit commodity code
        and need the commodity record,

        including classification hierarchy, footnotes, import measures, export measures,
        and duty-related metadata.


        Use the `/uk` server for UK Global Tariff data and the `/xi` server for Northern
        Ireland data. The same

        commodity code can have different measures, duty rates, restrictions, or related
        records in each dataset.


        The commodity must be declarable and valid on the requested date. Use search
        or hierarchy endpoints first

        when you only have a goods description or a partial commodity code.

        '
      operationId: getCommodity
      responses:
        '200':
          description: commodity found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                        description: JSON:API resource identifier for the commodity
                          goods nomenclature record.
                      type:
                        type: string
                        enum:
                        - commodity
                      attributes:
                        type: object
                        properties:
                          producline_suffix:
                            type: string
                            nullable: true
                            description: Goods nomenclature product-line suffix for
                              this row.
                          description:
                            type: string
                            nullable: true
                            description: Commodity description as stored in the tariff
                              dataset.
                          number_indents:
                            type: integer
                            nullable: true
                            description: Indentation level in the tariff hierarchy.
                          goods_nomenclature_item_id:
                            type: string
                            description: 10-digit commodity code for this goods nomenclature
                              item.
                          bti_url:
                            type: string
                            nullable: true
                            description: GOV.UK guidance URL for applying for a Binding
                              Tariff Information decision.
                          formatted_description:
                            type: string
                            nullable: true
                            description: Commodity description formatted for display.
                          description_plain:
                            type: string
                            nullable: true
                            description: Commodity description with formatting removed.
                          consigned:
                            type: boolean
                            nullable: true
                            description: Whether the commodity description identifies
                              goods as consigned from one or more countries.
                          consigned_from:
                            type: string
                            nullable: true
                            description: Country or countries extracted from "consigned
                              from" wording in the commodity description.
                          basic_duty_rate:
                            type: string
                            nullable: true
                            description: Summary basic third-country duty rate, when
                              one can be derived from applicable import measures.
                          meursing_code:
                            type: boolean
                            nullable: true
                            description: Whether Meursing additional code information
                              may be needed for this commodity.
                          validity_start_date:
                            type: string
                            nullable: true
                            format: date-time
                            description: Date and time from which this commodity description
                              period is valid.
                          validity_end_date:
                            type: string
                            nullable: true
                            format: date-time
                            description: Date and time after which this commodity
                              description period is no longer valid, or null when
                              open-ended.
                          has_chemicals:
                            type: boolean
                            nullable: true
                            description: Whether chemical substance records are associated
                              with this commodity.
                          declarable:
                            type: boolean
                            description: true when this commodity can be declared
                              on a customs declaration.
                      relationships:
                        type: object
                        properties:
                          footnotes:
                            type: object
                            description: Footnotes linked to the commodity, including
                              legal or usage notes that may affect classification
                              or measures.
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - footnote
                          section:
                            type: object
                            description: Tariff section containing the commodity.
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - section
                          chapter:
                            type: object
                            description: Tariff chapter containing the commodity.
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - chapter
                          heading:
                            type: object
                            description: Tariff heading containing the commodity.
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - heading
                          ancestors:
                            type: object
                            description: Parent goods nomenclature records in the
                              classification hierarchy.
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                          import_measures:
                            type: object
                            description: Import duties, controls, restrictions, quotas,
                              and other import measures applicable to the commodity.
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - measure
                          export_measures:
                            type: object
                            description: Export controls, restrictions, duties, and
                              other export measures applicable to the commodity.
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - measure
                          import_trade_summary:
                            type: object
                            description: Summary trade statistics for imports of the
                              commodity, when available.
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - import_trade_summary
                      meta:
                        type: object
                        nullable: true
                        properties:
                          duty_calculator:
                            type: object
                            nullable: true
                  included:
                    type: array
                    description: Related resources included with the commodity response,
                      such as hierarchy, footnote, measure, duty, geographical area,
                      and quota records.
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
        '404':
          description: commodity not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '400':
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: unprocessable content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/commodities/{id}/changes:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{10}$
      description: Commodity code (exactly 10 digits)
    get:
      summary: List changes for a commodity
      tags:
      - Commodities
      description: Returns the changelog for a commodity.
      operationId: listCommodityChanges
      responses:
        '200':
          description: commodity changes listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - change
                        attributes:
                          type: object
                          properties:
                            oid:
                              type: integer
                              nullable: true
                            model_name:
                              type: string
                              nullable: true
                            operation:
                              type: string
                              nullable: true
                            operation_date:
                              type: string
                              nullable: true
                              format: date-time
                        relationships:
                          type: object
                          properties:
                            record:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                  included:
                    type: array
                    items:
                      type: object
  /api/description_intercepts:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: source
      in: query
      required: false
      schema:
        type: string
      description: Filter by an enabled description intercept source
    - name: excluded
      in: query
      required: false
      schema:
        type: boolean
      description: Filter by whether the intercept excludes the term
    get:
      summary: List description intercepts
      tags:
      - Description Intercepts
      description: Returns description intercepts, optionally filtered by source and
        excluded state.
      operationId: listDescriptionIntercepts
      responses:
        '200':
          description: description intercepts listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - description_intercept
                        attributes:
                          type: object
                          properties:
                            term:
                              type: string
                              nullable: true
                            aliases:
                              type: array
                              items:
                                type: string
                              nullable: true
                            sources:
                              type: array
                              items:
                                type: string
                              nullable: true
                            message:
                              type: string
                              nullable: true
                            message_header:
                              type: string
                              nullable: true
                            excluded:
                              type: boolean
                              nullable: true
                            created_at:
                              type: string
                              format: date-time
                              nullable: true
                            updated_at:
                              type: string
                              format: date-time
                              nullable: true
                            guidance_level:
                              type: string
                              nullable: true
                            guidance_location:
                              type: string
                              nullable: true
                            escalate_to_webchat:
                              type: boolean
                              nullable: true
                            filter_prefixes:
                              type: array
                              items:
                                type: string
                              nullable: true
  /api/exchange_rates/period_lists/{year}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: year
      in: path
      required: true
      schema:
        type: integer
      description: Four-digit year to filter periods (e.g. 2024)
    - name: filter[type]
      in: query
      required: true
      schema:
        type: string
        enum:
        - monthly
        - spot
        - average
      description: Rate type
    get:
      summary: List exchange rate periods for a year
      tags:
      - Exchange Rates
      description: Returns available exchange rate periods for the specified year
        and type.
      operationId: listExchangeRatePeriods
      responses:
        '200':
          description: period list found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - exchange_rate_period_list
                      attributes:
                        type: object
                        properties:
                          year:
                            type: integer
                            nullable: true
                          type:
                            type: string
                            nullable: true
                      relationships:
                        type: object
                        properties:
                          exchange_rate_periods:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                          exchange_rate_years:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
  /api/exchange_rates/{id}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{4}-\d{1,2}$
      description: Year and month in "YYYY-M" format (e.g. "2024-3")
    - name: filter[type]
      in: query
      required: true
      schema:
        type: string
        enum:
        - monthly
        - spot
        - average
      description: Rate type to retrieve
    get:
      summary: Retrieve exchange rates for a period
      tags:
      - Exchange Rates
      description: Returns the exchange rate collection for the specified year, month,
        and rate type.
      operationId: getExchangeRates
      responses:
        '200':
          description: exchange rates found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - exchange_rate_collection
                      attributes:
                        type: object
                        properties:
                          year:
                            type: integer
                            nullable: true
                          month:
                            type: integer
                            nullable: true
                          type:
                            type: string
                            nullable: true
                      relationships:
                        type: object
                        properties:
                          exchange_rates:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                          exchange_rate_files:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
        '404':
          description: invalid year/month format
  /api/footnote_types:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: Accept header for V2 JSON responses. Use `application/vnd.hmrc.2.0+json`.
    get:
      summary: List all footnote types
      tags:
      - Footnotes
      description: List footnote type IDs used to group footnotes.
      operationId: listFootnoteTypes
      responses:
        '200':
          description: footnote types listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Footnote type ID.
                        type:
                          type: string
                          enum:
                          - footnote_type
                          description: JSON:API resource type.
                        attributes:
                          type: object
                          properties:
                            footnote_type_id:
                              type: string
                              nullable: true
                              description: Footnote type ID.
                            description:
                              type: string
                              nullable: true
                              description: Footnote type description.
        '400':
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '422':
          description: unprocessable content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/footnotes/search:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: Accept header for V2 JSON responses. Use `application/vnd.hmrc.2.0+json`.
    - name: description
      in: query
      required: false
      schema:
        type: string
      description: Partial footnote description to search for. Required when `type`
        and `code` are both omitted.
    - name: type
      in: query
      required: false
      schema:
        type: string
      description: Footnote type ID. Must be supplied with `code` when used.
    - name: code
      in: query
      required: false
      schema:
        type: string
      description: Footnote code within the footnote type. Must be supplied with `type`
        when used.
    get:
      summary: Search footnotes
      tags:
      - Footnotes
      description: Search footnotes attached to goods nomenclature or measures by
        description, or by type and code together. Results can include related goods
        nomenclatures.
      operationId: searchFootnotes
      responses:
        '200':
          description: footnotes found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Combined footnote type and footnote code.
                        type:
                          type: string
                          enum:
                          - footnote
                          description: JSON:API resource type.
                        attributes:
                          type: object
                          properties:
                            code:
                              type: string
                              nullable: true
                              description: Combined footnote type and footnote ID.
                            footnote_type_id:
                              type: string
                              nullable: true
                              description: Footnote type ID.
                            footnote_id:
                              type: string
                              nullable: true
                              description: Footnote code within the footnote type.
                            description:
                              type: string
                              nullable: true
                              description: Footnote description.
                            formatted_description:
                              type: string
                              nullable: true
                              description: Footnote description formatted for display.
                            validity_start_date:
                              type: string
                              nullable: true
                              format: date-time
                              description: Date and time from which this footnote
                                is valid.
                            validity_end_date:
                              type: string
                              nullable: true
                              format: date-time
                              description: Date and time after which this footnote
                                is no longer valid, or null when current.
        '422':
          description: invalid footnote search parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '400':
          description: bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
        '404':
          description: not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardErrorResponse'
  /api/geographical_areas:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: filter[exclude_none]
      in: query
      required: false
      schema:
        type: boolean
      description: Exclude the "ERGA OMNES (1011)" catch-all area when true
    get:
      summary: List all geographical areas
      tags:
      - Geographical Areas
      description: Returns all geographical areas (countries and groups).
      operationId: listGeographicalAreas
      responses:
        '200':
          description: geographical areas listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - geographical_area
                        attributes:
                          type: object
                          properties:
                            id:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            geographical_area_id:
                              type: string
                              nullable: true
                            geographical_area_sid:
                              type: integer
                              nullable: true
  /api/geographical_areas/countries:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: filter[exclude_none]
      in: query
      required: false
      schema:
        type: boolean
      description: Exclude the "ERGA OMNES (1011)" catch-all area when true
    get:
      summary: List all countries
      tags:
      - Geographical Areas
      description: Returns only country-type geographical areas (geographical_code
        = "0").
      operationId: listCountries
      responses:
        '200':
          description: countries listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - geographical_area
                        attributes:
                          type: object
                          properties:
                            id:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            geographical_area_id:
                              type: string
                              nullable: true
                            geographical_area_sid:
                              type: integer
                              nullable: true
  /api/geographical_areas/{id}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Geographical area ID (e.g. "AU", "1011")
    get:
      summary: Retrieve a geographical area
      tags:
      - Geographical Areas
      description: Returns a single geographical area with its contained areas.
      operationId: getGeographicalArea
      responses:
        '200':
          description: geographical area found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - geographical_area
                      attributes:
                        type: object
                        properties:
                          id:
                            type: string
                            nullable: true
                          description:
                            type: string
                            nullable: true
                          geographical_area_id:
                            type: string
                            nullable: true
                          geographical_area_sid:
                            type: integer
                            nullable: true
                      relationships:
                        type: object
                        properties:
                          contained_geographical_areas:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
        '404':
          description: geographical area not found
  /api/goods_nomenclatures/chapter/{chapter_id}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: chapter_id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{2}$
      description: Chapter short code (2 digits, e.g. "01")
    get:
      summary: List goods nomenclatures for a chapter
      tags:
      - Goods Nomenclatures
      description: Returns all goods nomenclature items belonging to a chapter.
      operationId: getGoodsNomenclatureByChapter
      responses:
        '200':
          description: goods nomenclatures listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - goods_nomenclature
                        attributes:
                          type: object
                          properties:
                            goods_nomenclature_item_id:
                              type: string
                            goods_nomenclature_sid:
                              type: integer
                            producline_suffix:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            number_indents:
                              type: integer
                              nullable: true
                            href:
                              type: string
                              nullable: true
                            formatted_description:
                              type: string
                              nullable: true
                            validity_start_date:
                              type: string
                              nullable: true
                              format: date-time
                            validity_end_date:
                              type: string
                              nullable: true
                              format: date-time
                            declarable:
                              type: boolean
                        relationships:
                          type: object
                          properties:
                            parent:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - goods_nomenclature
  /api/goods_nomenclatures/heading/{heading_id}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: heading_id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{4}$
      description: Heading code (4 digits, e.g. "0101")
    get:
      summary: List goods nomenclatures for a heading
      tags:
      - Goods Nomenclatures
      description: Returns all goods nomenclature items belonging to a heading.
      operationId: getGoodsNomenclatureByHeading
      responses:
        '200':
          description: goods nomenclatures listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - goods_nomenclature
                        attributes:
                          type: object
                          properties:
                            goods_nomenclature_item_id:
                              type: string
                            goods_nomenclature_sid:
                              type: integer
                            producline_suffix:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            number_indents:
                              type: integer
                              nullable: true
                            href:
                              type: string
                              nullable: true
                            formatted_description:
                              type: string
                              nullable: true
                            validity_start_date:
                              type: string
                              nullable: true
                              format: date-time
                            validity_end_date:
                              type: string
                              nullable: true
                              format: date-time
                            declarable:
                              type: boolean
                        relationships:
                          type: object
                          properties:
                            parent:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - goods_nomenclature
  /api/goods_nomenclatures/section/{position}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: position
      in: path
      required: true
      schema:
        type: integer
      description: Section position number
    get:
      summary: List goods nomenclatures for a section
      tags:
      - Goods Nomenclatures
      description: Returns all goods nomenclature items belonging to a section.
      operationId: getGoodsNomenclatureBySection
      responses:
        '200':
          description: goods nomenclatures listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - goods_nomenclature
                        attributes:
                          type: object
                          properties:
                            goods_nomenclature_item_id:
                              type: string
                            goods_nomenclature_sid:
                              type: integer
                            producline_suffix:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            number_indents:
                              type: integer
                              nullable: true
                            href:
                              type: string
                              nullable: true
                            formatted_description:
                              type: string
                              nullable: true
                            validity_start_date:
                              type: string
                              nullable: true
                              format: date-time
                            validity_end_date:
                              type: string
                              nullable: true
                              format: date-time
                            declarable:
                              type: boolean
                        relationships:
                          type: object
                          properties:
                            parent:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - goods_nomenclature
  /api/goods_nomenclatures/{id}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{4,10}$
      description: Goods nomenclature SID (4–10 digits)
    get:
      summary: Retrieve a goods nomenclature by id
      tags:
      - Goods Nomenclatures
      description: Returns a single goods nomenclature item by its SID.
      operationId: getGoodsNomenclature
      responses:
        '200':
          description: goods nomenclature found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - goods_nomenclature
                      attributes:
                        type: object
                        properties:
                          goods_nomenclature_item_id:
                            type: string
                          goods_nomenclature_sid:
                            type: integer
                          producline_suffix:
                            type: string
                            nullable: true
                          description:
                            type: string
                            nullable: true
                          number_indents:
                            type: integer
                            nullable: true
                          href:
                            type: string
                            nullable: true
                          formatted_description:
                            type: string
                            nullable: true
                          validity_start_date:
                            type: string
                            nullable: true
                            format: date-time
                          validity_end_date:
                            type: string
                            nullable: true
                            format: date-time
                          declarable:
                            type: boolean
                      relationships:
                        type: object
                        properties:
                          parent:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - goods_nomenclature
        '404':
          description: goods nomenclature not found
  /api/headings/{id}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{4}$
      description: Heading code (exactly 4 digits, e.g. "0101")
    get:
      summary: Retrieve a heading
      tags:
      - Headings
      description: Returns a single heading. The response uses either HeadingSerializer
        (non-declarable) or DeclarableHeadingSerializer (declarable) depending on
        the heading type.
      operationId: getHeading
      responses:
        '200':
          description: heading found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - heading
                      attributes:
                        type: object
                        properties:
                          goods_nomenclature_item_id:
                            type: string
                          description:
                            type: string
                            nullable: true
                          bti_url:
                            type: string
                            nullable: true
                          formatted_description:
                            type: string
                            nullable: true
                          description_plain:
                            type: string
                            nullable: true
                          validity_start_date:
                            type: string
                            nullable: true
                            format: date-time
                          validity_end_date:
                            type: string
                            nullable: true
                            format: date-time
                          declarable:
                            type: boolean
                          producline_suffix:
                            type: string
                            nullable: true
                          basic_duty_rate:
                            type: string
                            nullable: true
                          meursing_code:
                            type: boolean
                            nullable: true
                          has_chemicals:
                            type: boolean
                            nullable: true
                      relationships:
                        type: object
                        properties:
                          footnotes:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - footnote
                          section:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - section
                          chapter:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - chapter
                          commodities:
                            type: object
                            nullable: true
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - commodity
                  included:
                    type: array
                    description: Related footnote, section, chapter, and commodity
                      objects
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
        '404':
          description: heading not found
  /api/headings/{id}/changes:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{4}$
      description: Heading code (exactly 4 digits, e.g. "0101")
    get:
      summary: List changes for a heading
      tags:
      - Headings
      description: Returns the changelog for a heading.
      operationId: listHeadingChanges
      responses:
        '200':
          description: heading changes listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - change
                        attributes:
[...]
