openapi: 3.0.1
info:
  title: UK Trade Tariff API
  version: v2
  description: 'GOV.UK Online Trade Tariff API. Provides access to UK Global Tariff
    and

    Northern Ireland (XI) tariff data including commodity codes, duty rates,

    certificates, quotas, and trade restrictions.


    API version is negotiated via the `Accept` header. All V2 requests must

    include `Accept: application/vnd.hmrc.2.0+json`.

    '
  contact:
    name: Trade Tariff Support
    url: https://www.trade-tariff.service.gov.uk
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://www.trade-tariff.service.gov.uk/uk
  description: Production (UK Global Tariff)
- url: https://www.trade-tariff.service.gov.uk/xi
  description: Production (Northern Ireland)
components:
  parameters:
    accept_header:
      name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
        default: application/vnd.hmrc.2.0+json
      description: API version negotiation header. Must be `application/vnd.hmrc.2.0+json`.
  schemas:
    error_response:
      type: object
      description: Standard error response
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                description: Machine-readable error code
              detail:
                type: string
                description: Human-readable error message
            required:
            - code
            - detail
      required:
      - errors
paths:
  /api/additional_code_types:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    get:
      summary: List all additional code types
      tags:
      - Additional Codes
      description: Returns all additional code types.
      operationId: listAdditionalCodeTypes
      responses:
        '200':
          description: additional code types listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - additional_code_type
                        attributes:
                          type: object
                          properties:
                            additional_code_type_id:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
  /api/additional_codes/search:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: description
      in: query
      required: false
      schema:
        type: string
      description: Filter by additional code description (partial match)
    - name: type
      in: query
      required: false
      schema:
        type: string
      description: Filter by additional code type ID
    - name: code
      in: query
      required: false
      schema:
        type: string
      description: Filter by additional code value
    get:
      summary: Search additional codes
      tags:
      - Additional Codes
      description: Returns additional codes matching the search parameters, including
        related goods nomenclatures.
      operationId: searchAdditionalCodes
      responses:
        '200':
          description: additional codes found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - additional_code
                        attributes:
                          type: object
                          properties:
                            additional_code_type_id:
                              type: string
                              nullable: true
                            additional_code:
                              type: string
                              nullable: true
                            code:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            formatted_description:
                              type: string
                              nullable: true
  /api/certificate_types:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    get:
      summary: List all certificate types
      tags:
      - Certificates
      description: Returns all certificate types with their descriptions.
      operationId: listCertificateTypes
      responses:
        '200':
          description: certificate types listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - certificate_type
                        attributes:
                          type: object
                          properties:
                            certificate_type_code:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
  /api/certificates:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    get:
      summary: List all certificates
      tags:
      - Certificates
      description: Returns all current certificates ordered by type and code.
      operationId: listCertificates
      responses:
        '200':
          description: certificates listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - certificate
                        attributes:
                          type: object
                          properties:
                            certificate_type_code:
                              type: string
                              nullable: true
                            certificate_code:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            formatted_description:
                              type: string
                              nullable: true
                            guidance_cds:
                              type: string
                              nullable: true
                            certificate_type_description:
                              type: string
                              nullable: true
                            validity_start_date:
                              type: string
                              nullable: true
                              format: date-time
  /api/certificates/search:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: description
      in: query
      required: false
      schema:
        type: string
      description: Filter by certificate description (partial match)
    - name: type
      in: query
      required: false
      schema:
        type: string
      description: Filter by certificate type code
    - name: code
      in: query
      required: false
      schema:
        type: string
      description: Filter by certificate code
    get:
      summary: Search certificates
      tags:
      - Certificates
      description: Returns certificates matching the search parameters, including
        related goods nomenclatures.
      operationId: searchCertificates
      responses:
        '200':
          description: certificates found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - certificate
                        attributes:
                          type: object
                          properties:
                            certificate_type_code:
                              type: string
                              nullable: true
                            certificate_code:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            formatted_description:
                              type: string
                              nullable: true
                            guidance_cds:
                              type: string
                              nullable: true
                            certificate_type_description:
                              type: string
                              nullable: true
                            validity_start_date:
                              type: string
                              nullable: true
                              format: date-time
  /api/changes:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    get:
      summary: List recent tariff changes
      tags:
      - Changes
      description: Returns recent tariff changes. The data array may be empty if no
        changes exist for the current date.
      operationId: listChanges
      responses:
        '200':
          description: changes listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - change
                        attributes:
                          type: object
                          properties:
                            goods_nomenclature_sid:
                              type: integer
                              nullable: true
                            goods_nomenclature_item_id:
                              type: string
                              nullable: true
                            productline_suffix:
                              type: string
                              nullable: true
                            end_line:
                              type: boolean
                              nullable: true
                            change_type:
                              type: string
                              nullable: true
                            change_date:
                              type: string
                              nullable: true
                              format: date
  /api/changes/{as_of}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: as_of
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{4}-\d{1,2}-\d{1,2}$
      description: 'Date to filter changes by (format: YYYY-M-D, e.g. "2024-1-15")'
    get:
      summary: List tariff changes for a date
      tags:
      - Changes
      description: Returns tariff changes for the specified date. The data array may
        be empty if no changes exist for that date.
      operationId: listChangesAsOf
      responses:
        '200':
          description: changes listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - change
                        attributes:
                          type: object
                          properties:
                            goods_nomenclature_sid:
                              type: integer
                              nullable: true
                            goods_nomenclature_item_id:
                              type: string
                              nullable: true
                            productline_suffix:
                              type: string
                              nullable: true
                            end_line:
                              type: boolean
                              nullable: true
                            change_type:
                              type: string
                              nullable: true
                            change_date:
                              type: string
                              nullable: true
                              format: date
  /api/chapters:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    get:
      summary: List all chapters
      tags:
      - Chapters
      description: Returns all chapters of the tariff.
      operationId: listChapters
      responses:
        '200':
          description: chapters listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - id
                      - type
                      - attributes
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - chapter
                        attributes:
                          type: object
                          properties:
                            goods_nomenclature_sid:
                              type: integer
                            goods_nomenclature_item_id:
                              type: string
                            formatted_description:
                              type: string
                              nullable: true
  /api/chapters/{id}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{1,2}$
      description: Chapter short code (1–2 digits, e.g. "01")
    get:
      summary: Retrieve a chapter
      tags:
      - Chapters
      description: Returns a single chapter including its headings, section, and guides.
      operationId: getChapter
      responses:
        '200':
          description: chapter found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - chapter
                      attributes:
                        type: object
                        properties:
                          goods_nomenclature_sid:
                            type: integer
                          goods_nomenclature_item_id:
                            type: string
                          description:
                            type: string
                            nullable: true
                          formatted_description:
                            type: string
                            nullable: true
                          validity_start_date:
                            type: string
                            nullable: true
                            format: date-time
                          validity_end_date:
                            type: string
                            nullable: true
                            format: date-time
                          description_plain:
                            type: string
                            nullable: true
                          chapter_note:
                            type: string
                            nullable: true
                          forum_url:
                            type: string
                            nullable: true
                          section_id:
                            type: integer
                            nullable: true
                      relationships:
                        type: object
                        properties:
                          section:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - section
                          guides:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - guide
                          headings:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - heading
                  included:
                    type: array
                    description: Related section, guide, and heading objects
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
        '404':
          description: chapter not found
  /api/chapters/{id}/changes:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{1,2}$
      description: Chapter short code (1–2 digits, e.g. "01")
    get:
      summary: List changes for a chapter
      tags:
      - Chapters
      description: Returns the changelog for a chapter.
      operationId: listChapterChanges
      responses:
        '200':
          description: chapter changes listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - change
                        attributes:
                          type: object
                          properties:
                            oid:
                              type: integer
                              nullable: true
                            model_name:
                              type: string
                              nullable: true
                            operation:
                              type: string
                              nullable: true
                            operation_date:
                              type: string
                              nullable: true
                              format: date-time
                        relationships:
                          type: object
                          properties:
                            record:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                  included:
                    type: array
                    items:
                      type: object
  /api/chemical_substances:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: filter[cas_rn]
      in: query
      required: false
      schema:
        type: string
      description: Filter by CAS Registry Number
    - name: filter[cus]
      in: query
      required: false
      schema:
        type: string
      description: Filter by CUS (Customs Union and Statistics) number
    - name: filter[goods_nomenclature_sid]
      in: query
      required: false
      schema:
        type: integer
      description: Filter by goods nomenclature SID
    - name: filter[goods_nomenclature_item_id]
      in: query
      required: false
      schema:
        type: string
      description: Filter by goods nomenclature item ID (commodity code)
    get:
      summary: List chemical substances
      tags:
      - Chemicals
      description: Returns chemical substances, optionally filtered by CAS number,
        CUS, or goods nomenclature.
      operationId: listChemicalSubstances
      responses:
        '200':
          description: chemical substances listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - chemical_substance
                        attributes:
                          type: object
                          properties:
                            cas_rn:
                              type: string
                              nullable: true
                            cus:
                              type: string
                              nullable: true
                            goods_nomenclature_item_id:
                              type: string
                              nullable: true
                            name:
                              type: string
                              nullable: true
  /api/chemicals:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    get:
      summary: List all chemicals
      tags:
      - Chemicals
      description: Returns all chemicals with their CAS numbers and names.
      operationId: listChemicals
      responses:
        '200':
          description: chemicals listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - chemical
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              nullable: true
                            cas:
                              type: string
                              nullable: true
                            name:
                              type: string
                              nullable: true
  /api/chemicals/search:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: name
      in: query
      required: false
      schema:
        type: string
      description: Search by chemical name
    - name: cas
      in: query
      required: false
      schema:
        type: string
      description: Search by CAS number
    - name: page
      in: query
      required: false
      schema:
        type: integer
      description: Page number
    - name: per_page
      in: query
      required: false
      schema:
        type: integer
      description: Results per page
    get:
      summary: Search chemicals
      tags:
      - Chemicals
      description: Returns chemicals matching the search query.
      operationId: searchChemicals
      responses:
        '200':
          description: chemicals found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - chemical
                        attributes:
                          type: object
                          properties:
                            id:
                              type: integer
                              nullable: true
                            cas:
                              type: string
                              nullable: true
                            name:
                              type: string
                              nullable: true
  /api/commodities/{id}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{10}$
      description: Commodity code (exactly 10 digits)
    get:
      summary: Retrieve a commodity
      tags:
      - Commodities
      description: Returns a single commodity including its measures, footnotes, and
        ancestors.
      operationId: getCommodity
      responses:
        '200':
          description: commodity found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - commodity
                      attributes:
                        type: object
                        properties:
                          producline_suffix:
                            type: string
                            nullable: true
                          description:
                            type: string
                            nullable: true
                          number_indents:
                            type: integer
                            nullable: true
                          goods_nomenclature_item_id:
                            type: string
                          bti_url:
                            type: string
                            nullable: true
                          formatted_description:
                            type: string
                            nullable: true
                          description_plain:
                            type: string
                            nullable: true
                          consigned:
                            type: boolean
                            nullable: true
                          consigned_from:
                            type: string
                            nullable: true
                          basic_duty_rate:
                            type: string
                            nullable: true
                          meursing_code:
                            type: boolean
                            nullable: true
                          validity_start_date:
                            type: string
                            nullable: true
                            format: date-time
                          validity_end_date:
                            type: string
                            nullable: true
                            format: date-time
                          has_chemicals:
                            type: boolean
                            nullable: true
                          declarable:
                            type: boolean
                      relationships:
                        type: object
                        properties:
                          footnotes:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - footnote
                          section:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - section
                          chapter:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - chapter
                          heading:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - heading
                          ancestors:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                          import_measures:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - measure
                          export_measures:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - measure
                          import_trade_summary:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - import_trade_summary
                      meta:
                        type: object
                        nullable: true
                        properties:
                          duty_calculator:
                            type: object
                            nullable: true
                  included:
                    type: array
                    description: Related footnote, section, chapter, heading, measure,
                      and other objects
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
        '404':
          description: commodity not found
  /api/commodities/{id}/changes:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{10}$
      description: Commodity code (exactly 10 digits)
    get:
      summary: List changes for a commodity
      tags:
      - Commodities
      description: Returns the changelog for a commodity.
      operationId: listCommodityChanges
      responses:
        '200':
          description: commodity changes listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - change
                        attributes:
                          type: object
                          properties:
                            oid:
                              type: integer
                              nullable: true
                            model_name:
                              type: string
                              nullable: true
                            operation:
                              type: string
                              nullable: true
                            operation_date:
                              type: string
                              nullable: true
                              format: date-time
                        relationships:
                          type: object
                          properties:
                            record:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                  included:
                    type: array
                    items:
                      type: object
  /api/description_intercepts:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: source
      in: query
      required: false
      schema:
        type: string
      description: Filter by an enabled description intercept source
    - name: excluded
      in: query
      required: false
      schema:
        type: boolean
      description: Filter by whether the intercept excludes the term
    get:
      summary: List description intercepts
      tags:
      - Description Intercepts
      description: Returns description intercepts, optionally filtered by source and
        excluded state.
      operationId: listDescriptionIntercepts
      responses:
        '200':
          description: description intercepts listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - description_intercept
                        attributes:
                          type: object
                          properties:
                            term:
                              type: string
                              nullable: true
                            aliases:
                              type: array
                              items:
                                type: string
                              nullable: true
                            sources:
                              type: array
                              items:
                                type: string
                              nullable: true
                            message:
                              type: string
                              nullable: true
                            message_header:
                              type: string
                              nullable: true
                            excluded:
                              type: boolean
                              nullable: true
                            created_at:
                              type: string
                              format: date-time
                              nullable: true
                            updated_at:
                              type: string
                              format: date-time
                              nullable: true
                            guidance_level:
                              type: string
                              nullable: true
                            guidance_location:
                              type: string
                              nullable: true
                            escalate_to_webchat:
                              type: boolean
                              nullable: true
                            filter_prefixes:
                              type: array
                              items:
                                type: string
                              nullable: true
  /api/exchange_rates/period_lists/{year}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: year
      in: path
      required: true
      schema:
        type: integer
      description: Four-digit year to filter periods (e.g. 2024)
    - name: filter[type]
      in: query
      required: true
      schema:
        type: string
        enum:
        - monthly
        - spot
        - average
      description: Rate type
    get:
      summary: List exchange rate periods for a year
      tags:
      - Exchange Rates
      description: Returns available exchange rate periods for the specified year
        and type.
      operationId: listExchangeRatePeriods
      responses:
        '200':
          description: period list found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - exchange_rate_period_list
                      attributes:
                        type: object
                        properties:
                          year:
                            type: integer
                            nullable: true
                          type:
                            type: string
                            nullable: true
                      relationships:
                        type: object
                        properties:
                          exchange_rate_periods:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                          exchange_rate_years:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
  /api/exchange_rates/{id}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{4}-\d{1,2}$
      description: Year and month in "YYYY-M" format (e.g. "2024-3")
    - name: filter[type]
      in: query
      required: true
      schema:
        type: string
        enum:
        - monthly
        - spot
        - average
      description: Rate type to retrieve
    get:
      summary: Retrieve exchange rates for a period
      tags:
      - Exchange Rates
      description: Returns the exchange rate collection for the specified year, month,
        and rate type.
      operationId: getExchangeRates
      responses:
        '200':
          description: exchange rates found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - exchange_rate_collection
                      attributes:
                        type: object
                        properties:
                          year:
                            type: integer
                            nullable: true
                          month:
                            type: integer
                            nullable: true
                          type:
                            type: string
                            nullable: true
                      relationships:
                        type: object
                        properties:
                          exchange_rates:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                          exchange_rate_files:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
        '404':
          description: invalid year/month format
  /api/footnote_types:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    get:
      summary: List all footnote types
      tags:
      - Footnotes
      description: Returns all footnote types with their descriptions.
      operationId: listFootnoteTypes
      responses:
        '200':
          description: footnote types listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - footnote_type
                        attributes:
                          type: object
                          properties:
                            footnote_type_id:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
  /api/footnotes/search:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: description
      in: query
      required: false
      schema:
        type: string
      description: Filter by footnote description (partial match)
    - name: type
      in: query
      required: false
      schema:
        type: string
      description: Filter by footnote type ID
    - name: code
      in: query
      required: false
      schema:
        type: string
      description: Filter by footnote code
    get:
      summary: Search footnotes
      tags:
      - Footnotes
      description: Returns footnotes matching the search parameters, including related
        goods nomenclatures.
      operationId: searchFootnotes
      responses:
        '200':
          description: footnotes found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - footnote
                        attributes:
                          type: object
                          properties:
                            code:
                              type: string
                              nullable: true
                            footnote_type_id:
                              type: string
                              nullable: true
                            footnote_id:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            formatted_description:
                              type: string
                              nullable: true
                            validity_start_date:
                              type: string
                              nullable: true
                              format: date-time
                            validity_end_date:
                              type: string
                              nullable: true
                              format: date-time
  /api/geographical_areas:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: filter[exclude_none]
      in: query
      required: false
      schema:
        type: boolean
      description: Exclude the "ERGA OMNES (1011)" catch-all area when true
    get:
      summary: List all geographical areas
      tags:
      - Geographical Areas
      description: Returns all geographical areas (countries and groups).
      operationId: listGeographicalAreas
      responses:
        '200':
          description: geographical areas listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - geographical_area
                        attributes:
                          type: object
                          properties:
                            id:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            geographical_area_id:
                              type: string
                              nullable: true
                            geographical_area_sid:
                              type: integer
                              nullable: true
  /api/geographical_areas/countries:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: filter[exclude_none]
      in: query
      required: false
      schema:
        type: boolean
      description: Exclude the "ERGA OMNES (1011)" catch-all area when true
    get:
      summary: List all countries
      tags:
      - Geographical Areas
      description: Returns only country-type geographical areas (geographical_code
        = "0").
      operationId: listCountries
      responses:
        '200':
          description: countries listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - geographical_area
                        attributes:
                          type: object
                          properties:
                            id:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            geographical_area_id:
                              type: string
                              nullable: true
                            geographical_area_sid:
                              type: integer
                              nullable: true
  /api/geographical_areas/{id}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Geographical area ID (e.g. "AU", "1011")
    get:
      summary: Retrieve a geographical area
      tags:
      - Geographical Areas
      description: Returns a single geographical area with its contained areas.
      operationId: getGeographicalArea
      responses:
        '200':
          description: geographical area found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - geographical_area
                      attributes:
                        type: object
                        properties:
                          id:
                            type: string
                            nullable: true
                          description:
                            type: string
                            nullable: true
                          geographical_area_id:
                            type: string
                            nullable: true
                          geographical_area_sid:
                            type: integer
                            nullable: true
                      relationships:
                        type: object
                        properties:
                          contained_geographical_areas:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
        '404':
          description: geographical area not found
  /api/goods_nomenclatures/chapter/{chapter_id}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: chapter_id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{2}$
      description: Chapter short code (2 digits, e.g. "01")
    get:
      summary: List goods nomenclatures for a chapter
      tags:
      - Goods Nomenclatures
      description: Returns all goods nomenclature items belonging to a chapter.
      operationId: getGoodsNomenclatureByChapter
      responses:
        '200':
          description: goods nomenclatures listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - goods_nomenclature
                        attributes:
                          type: object
                          properties:
                            goods_nomenclature_item_id:
                              type: string
                            goods_nomenclature_sid:
                              type: integer
                            producline_suffix:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            number_indents:
                              type: integer
                              nullable: true
                            href:
                              type: string
                              nullable: true
                            formatted_description:
                              type: string
                              nullable: true
                            validity_start_date:
                              type: string
                              nullable: true
                              format: date-time
                            validity_end_date:
                              type: string
                              nullable: true
                              format: date-time
                            declarable:
                              type: boolean
                        relationships:
                          type: object
                          properties:
                            parent:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - goods_nomenclature
  /api/goods_nomenclatures/heading/{heading_id}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: heading_id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{4}$
      description: Heading code (4 digits, e.g. "0101")
    get:
      summary: List goods nomenclatures for a heading
      tags:
      - Goods Nomenclatures
      description: Returns all goods nomenclature items belonging to a heading.
      operationId: getGoodsNomenclatureByHeading
      responses:
        '200':
          description: goods nomenclatures listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - goods_nomenclature
                        attributes:
                          type: object
                          properties:
                            goods_nomenclature_item_id:
                              type: string
                            goods_nomenclature_sid:
                              type: integer
                            producline_suffix:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            number_indents:
                              type: integer
                              nullable: true
                            href:
                              type: string
                              nullable: true
                            formatted_description:
                              type: string
                              nullable: true
                            validity_start_date:
                              type: string
                              nullable: true
                              format: date-time
                            validity_end_date:
                              type: string
                              nullable: true
                              format: date-time
                            declarable:
                              type: boolean
                        relationships:
                          type: object
                          properties:
                            parent:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - goods_nomenclature
  /api/goods_nomenclatures/section/{position}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: position
      in: path
      required: true
      schema:
        type: integer
      description: Section position number
    get:
      summary: List goods nomenclatures for a section
      tags:
      - Goods Nomenclatures
      description: Returns all goods nomenclature items belonging to a section.
      operationId: getGoodsNomenclatureBySection
      responses:
        '200':
          description: goods nomenclatures listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - goods_nomenclature
                        attributes:
                          type: object
                          properties:
                            goods_nomenclature_item_id:
                              type: string
                            goods_nomenclature_sid:
                              type: integer
                            producline_suffix:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            number_indents:
                              type: integer
                              nullable: true
                            href:
                              type: string
                              nullable: true
                            formatted_description:
                              type: string
                              nullable: true
                            validity_start_date:
                              type: string
                              nullable: true
                              format: date-time
                            validity_end_date:
                              type: string
                              nullable: true
                              format: date-time
                            declarable:
                              type: boolean
                        relationships:
                          type: object
                          properties:
                            parent:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - goods_nomenclature
  /api/goods_nomenclatures/{id}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{4,10}$
      description: Goods nomenclature SID (4–10 digits)
    get:
      summary: Retrieve a goods nomenclature by id
      tags:
      - Goods Nomenclatures
      description: Returns a single goods nomenclature item by its SID.
      operationId: getGoodsNomenclature
      responses:
        '200':
          description: goods nomenclature found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - goods_nomenclature
                      attributes:
                        type: object
                        properties:
                          goods_nomenclature_item_id:
                            type: string
                          goods_nomenclature_sid:
                            type: integer
                          producline_suffix:
                            type: string
                            nullable: true
                          description:
                            type: string
                            nullable: true
                          number_indents:
                            type: integer
                            nullable: true
                          href:
                            type: string
                            nullable: true
                          formatted_description:
                            type: string
                            nullable: true
                          validity_start_date:
                            type: string
                            nullable: true
                            format: date-time
                          validity_end_date:
                            type: string
                            nullable: true
                            format: date-time
                          declarable:
                            type: boolean
                      relationships:
                        type: object
                        properties:
                          parent:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - goods_nomenclature
        '404':
          description: goods nomenclature not found
  /api/headings/{id}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{4}$
      description: Heading code (exactly 4 digits, e.g. "0101")
    get:
      summary: Retrieve a heading
      tags:
      - Headings
      description: Returns a single heading. The response uses either HeadingSerializer
        (non-declarable) or DeclarableHeadingSerializer (declarable) depending on
        the heading type.
      operationId: getHeading
      responses:
        '200':
          description: heading found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - heading
                      attributes:
                        type: object
                        properties:
                          goods_nomenclature_item_id:
                            type: string
                          description:
                            type: string
                            nullable: true
                          bti_url:
                            type: string
                            nullable: true
                          formatted_description:
                            type: string
                            nullable: true
                          description_plain:
                            type: string
                            nullable: true
                          validity_start_date:
                            type: string
                            nullable: true
                            format: date-time
                          validity_end_date:
                            type: string
                            nullable: true
                            format: date-time
                          declarable:
                            type: boolean
                          producline_suffix:
                            type: string
                            nullable: true
                          basic_duty_rate:
                            type: string
                            nullable: true
                          meursing_code:
                            type: boolean
                            nullable: true
                          has_chemicals:
                            type: boolean
                            nullable: true
                      relationships:
                        type: object
                        properties:
                          footnotes:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - footnote
                          section:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - section
                          chapter:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                                properties:
                                  id:
                                    type: string
                                  type:
                                    type: string
                                    enum:
                                    - chapter
                          commodities:
                            type: object
                            nullable: true
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                      enum:
                                      - commodity
                  included:
                    type: array
                    description: Related footnote, section, chapter, and commodity
                      objects
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
        '404':
          description: heading not found
  /api/headings/{id}/changes:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{4}$
      description: Heading code (exactly 4 digits, e.g. "0101")
    get:
      summary: List changes for a heading
      tags:
      - Headings
      description: Returns the changelog for a heading.
      operationId: listHeadingChanges
      responses:
        '200':
          description: heading changes listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - change
                        attributes:
                          type: object
                          properties:
                            oid:
                              type: integer
                              nullable: true
                            model_name:
                              type: string
                              nullable: true
                            operation:
                              type: string
                              nullable: true
                            operation_date:
                              type: string
                              nullable: true
                              format: date-time
                        relationships:
                          type: object
                          properties:
                            record:
                              type: object
                              properties:
                                data:
                                  type: object
                                  nullable: true
                  included:
                    type: array
                    items:
                      type: object
  /api/headings/{id}/commodities:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
        pattern: ^\d{4}$
      description: Heading code (exactly 4 digits, e.g. "0101")
    get:
      summary: List commodities for a heading
      tags:
      - Headings
      description: Returns a heading with its full commodity tree.
      operationId: listHeadingCommodities
      responses:
        '200':
          description: commodities listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - heading
                      attributes:
                        type: object
  /api/live_issues:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: filter[status]
      in: query
      required: false
      schema:
        type: string
      description: Filter by issue status (e.g. "Active")
    get:
      summary: List live issues
      tags:
      - Live Issues
      description: Returns current live service issues, optionally filtered by status.
      operationId: listLiveIssues
      responses:
        '200':
          description: live issues listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - live_issue
                        attributes:
                          type: object
                          properties:
                            title:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            suggested_action:
                              type: string
                              nullable: true
                            status:
                              type: string
                              nullable: true
                            date_discovered:
                              type: string
                              nullable: true
                              format: date
                            commodities:
                              type: array
                              nullable: true
                              items:
                                type: string
  /api/measure_actions:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    get:
      summary: List all measure actions
      tags:
      - Measure Actions
      description: Returns all current measure actions with their descriptions.
      operationId: listMeasureActions
      responses:
        '200':
          description: measure actions listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - measure_action
                        attributes:
                          type: object
                          properties:
                            action_code:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            validity_start_date:
                              type: string
                              nullable: true
                              format: date-time
                            validity_end_date:
                              type: string
                              nullable: true
                              format: date-time
  /api/measure_condition_codes:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    get:
      summary: List all measure condition codes
      tags:
      - Measure Condition Codes
      description: Returns all current measure condition codes with their descriptions.
      operationId: listMeasureConditionCodes
      responses:
        '200':
          description: measure condition codes listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - measure_condition_code
                        attributes:
                          type: object
                          properties:
                            condition_code:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            validity_start_date:
                              type: string
                              nullable: true
                              format: date-time
                            validity_end_date:
                              type: string
                              nullable: true
                              format: date-time
  /api/measure_types:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    get:
      summary: List all measure types
      tags:
      - Measure Types
      description: Returns all current measure types with their series descriptions.
      operationId: listMeasureTypes
      responses:
        '200':
          description: measure types listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                          enum:
                          - measure_type
                        attributes:
                          type: object
                          properties:
                            id:
                              type: string
                              nullable: true
                            description:
                              type: string
                              nullable: true
                            measure_type_series_id:
                              type: string
                              nullable: true
                            measure_component_applicable_code:
                              type: integer
                              nullable: true
                            order_number_capture_code:
                              type: integer
                              nullable: true
                            trade_movement_code:
                              type: integer
                              nullable: true
                            validity_start_date:
                              type: string
                              nullable: true
                              format: date-time
                            validity_end_date:
                              type: string
                              nullable: true
                              format: date-time
                            measure_type_series_description:
                              type: string
                              nullable: true
  /api/measure_types/{id}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: string
      description: Measure type ID (e.g. "142")
    get:
      summary: Retrieve a measure type
      tags:
      - Measure Types
      description: Returns a single measure type by its ID.
      operationId: getMeasureType
      responses:
        '200':
          description: measure type found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - measure_type
                      attributes:
                        type: object
                        properties:
                          id:
                            type: string
                            nullable: true
                          description:
                            type: string
                            nullable: true
                          measure_type_series_id:
                            type: string
                            nullable: true
                          measure_component_applicable_code:
                            type: integer
                            nullable: true
                          order_number_capture_code:
                            type: integer
                            nullable: true
                          trade_movement_code:
                            type: integer
                            nullable: true
                          validity_start_date:
                            type: string
                            nullable: true
                            format: date-time
                          validity_end_date:
                            type: string
                            nullable: true
                            format: date-time
                          measure_type_series_description:
                            type: string
                            nullable: true
        '404':
          description: measure type not found
  /api/measures/{id}:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    - name: id
      in: path
      required: true
      schema:
        type: integer
      description: Measure SID (may be negative for national measures)
    get:
      summary: Retrieve a measure
      tags:
      - Measures
      description: Returns a single measure including its duty expression, conditions,
        components, and geographical area.
      operationId: getMeasure
      responses:
        '200':
          description: measure found
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: object
                    required:
                    - id
                    - type
                    - attributes
                    properties:
                      id:
                        type: string
                      type:
                        type: string
                        enum:
                        - measure
                      attributes:
                        type: object
                        properties:
                          origin:
                            type: string
                            nullable: true
                          import:
                            type: boolean
                          export:
                            type: boolean
                          excise:
                            type: boolean
                          vat:
                            type: boolean
                          effective_start_date:
                            type: string
                            nullable: true
                            format: date-time
                          effective_end_date:
                            type: string
                            nullable: true
                            format: date-time
                      relationships:
                        type: object
                        properties:
                          duty_expression:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                          measure_type:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                          geographical_area:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                          measure_conditions:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                          measure_components:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                          footnotes:
                            type: object
                            properties:
                              data:
                                type: array
                                items:
                                  type: object
                          order_number:
                            type: object
                            properties:
                              data:
                                type: object
                                nullable: true
                  included:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
        '404':
          description: measure not found
  /api/monetary_exchange_rates:
    parameters:
    - name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
        - application/vnd.hmrc.2.0+json
      description: API version negotiation header
    get:
      summary: List monetary exchange rates
      tags:
      - Exchange Rates
      description: Returns GBP monetary exchange rates from the last 5 years, ordered
        by validity start date.
      operationId: listMonetaryExchangeRates
      responses:
        '200':
          description: monetary exchange rates listed
          content:
            application/json:
              schema:
                type: object
                required:
                - data
                properties:
                  data:
                    type: array
[...]
